<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{styles}}
    <title>{{title}}</title>
</head>
<body>
<header>{{header}}</header>
<aside>{{secondaryNav}}</aside>
<main>{{content}}</main>
<footer>{{footer}}</footer>
</body>
</html>
