* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button {
    background-color: #0000aa;
    color: white;
    flex: 0 0 20%;
    display: inline-block;
   
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}



.messageList {
    border: none;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-around;
    overflow: auto;
    max-height: 80%;
    /*border: 1px solid #cccccc;*/
}

.message {
    display: flex;
    padding: 20px;
    position: relative;
    /* width: 90%;
    clear:both;
    border: 1px solid lightslategrey; 
    border-radius: 10px;
    font-size: middle;
    background-color: lightblue;
    margin: 20px; */

}
#messageText {
    display: flex;
    padding: 20px;;
    width: 90%;
    clear:both;
    font-size: middle;
    border: 1px solid lightslategrey; 
    border-radius: 10px;
}

div.name
{
    color: blue;
    font-weight: bold;

    
}

div.date
{
   color: red;
   
}
.msgDiv
{
   
    width:300px;
 
}
nav {
    width: 100%;
    background-color:rgb(146, 33, 33);
    padding-left: 30px;
    padding-right: 10px;
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: inline-block;
   
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: darkgreen;
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color:cyan;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 255, 170);
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }
  footer
{
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    
    border:1px; 
    background-color:rgb(146, 33, 33); 
    color:white; 
    text-align: center;
}


html, 
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    font-size: 10px;
}



#main-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-container {
    display: flex;
    flex-grow: 1;
    min-width: 800px;
    max-width: 1000px;
    max-height: 700px;
    height: 75vh;
    background: #FFF;
    border-radius: 10px;
}

#side-bar {
    background: #0048AA;
    border-radius: 10px 0 0 10px;
    flex-basis: 275px;
}

#chat-window {
    border-radius: 0 10px 10px 0;
    flex-grow: 1;
    margin-left:20px;
}

#settings
{
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50%;
    display: flex;
    border: 1px solid #0048AA;
    border-radius: 0 10px 10px 0;  
    }

#settings-container
{
    display: none;
    
    justify-content: center;
    font-size: large;
    margin: 40px;
   
}

#header-container
{
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    margin: 0 10% 0 10%;
    width:80%;
   
}
#status
{
   display: inline-flex;
   vertical-align: baseline;
   height: 100%;
   margin-top: 5px;
}

.bubble { flex: 1 1 auto; clear: both; position:relative; font-size: large; line-height: 20px; } /* clear the floats here on parent */
.bubble p {
    border-radius: 5px;
    padding: 8px; margin: 20px 12px;
    
    max-width: 80%;  /* this will make it not exceed 80% and then wrap */
    position: relative; transition: background-color 0.5s; 
}
.left p { background-color: #ccc; float: left;margin-left:20px; } /* floated left */
.right p { background-color: #33c; color: #fff; float: right; } /* floated right */
/* classes below are only for arrows, not relevant */
.left p::before {
    content: ''; position: absolute;
    width: 0; height: 0; left: -8px; top: 8px;
    border-top: 4px solid transparent;
    border-right: 8px solid #ccc;
    border-bottom: 4px solid transparent;
}
.right p::after {
    content: ''; position: absolute;
    width: 0; height: 0; right: -8px; bottom: 8px;
    border-top: 4px solid transparent;
    border-left: 8px solid #33c;
    border-bottom: 4px solid transparent;
}

.message__name
{
   position: absolute;
   top:0;
   left:8px;
   color: red;
   padding: 5px;
   font-weight: bold;
   font-size:large ;
}



.message__name {
  position: absolute;
  top: -1px;
  left: 17px;
  color: rgb(146, 33, 33);
  padding: 5px;
  font-weight: 300;
  font-size: small;
}


.message__date {
    position: absolute;
    bottom: -3px;
    left: 10px;
    color: black;
    left: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: small;
    color: silver;
    
}

.form { flex: 0 0 32px; display: flex; border: 1px solid #ddd; }
.form > input[type=text] { flex: 1 1 auto; border: 1px solid #eee; }
.form > input[type=button] { flex: 0 0 20%; border: 1px solid #eee; }