<h1>Корзина</h1>

<div id="cart">
{{#if courses.length}}
<table>
    <thead>
    <tr>
        <th>Название курса</th>
        <th>Количество</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {{#each courses}}
        <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td>
                <button class="btn btn-small js-remove" data-id="{{id}}">Удалить</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<p><strong>Итого:</strong> <span class="price">{{totalPrice}}</span></p>
{{else}}
<p>Корзина пуста.</p>
{{/if}}
</div>
