html, body
{
    height: 100%;
    margin: 0;
}

body
{
    background-color:#9775AA;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}


#box
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background-color: #9775AA;
    width: 400px;
    height: 400px;
}

	
#reset {
	background-color:#9775AA;
	color: white;
	margin-top: 5px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: solid white 3px;
    border-radius: 5px;
}
	
td {				
	text-align:center;				
	font-family:Times New Roman;
	color: black;
	vertical-align: middle;				
}
#box td {
	border:solid 1px white;
	text-align:center;
	font-size:40px;
	font-family:Times New Roman;
	color: white;
	width: 55px;
	height: 55px;
}

#box td:hover {
	color:black;
	cursor: hand;
}