* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.button {
    background-color: #0000aa;
    color: white;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #0000ff;
}

.messageList {
    border: none;
    /*border: 1px solid #cccccc;*/
}

.message {
    border: 1px solid red;
    width: 255px;
}
