.containerStart {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    }
.seaBattle {
    color: blue;
    text-align: center;
    font-size: 72px;
    margin-top: 30px;
}
.seaBattleBottom {
    background-color: blue;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    width: max-content;
}
.leftFieldText {
    color: blue;
    text-align: center;
    font-size: 36px;
}
.rigthFieldText {
    font-size: 36px;
    color: blue;
    text-align: center;
}
.string {
    background-color: white;
    display: flex;
}
.square {
    background-color: blue;
    height: 30px;
    width: 30px;
    margin-left: 3px;
    margin-top: 3px;
}
.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.containerForUserField {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerForGame {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ship4 {
    background-color: blue;
}
.ship3 {
    background-color: blue;
}
.ship2 {
    background-color: blue;
}
.ship1 {
    background-color: blue;
}
.buttonShip4 {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    background-color: gold;
}
.buttonShip3 {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: gold;
}
.buttonShip2 {
    width: 60px;
    height: 30px;
    margin-top: 10px;
    background-color: gold;
}
.buttonShip1 {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-color: gold;
}
.buttomsForChange {
    display: flex;
    width: 100%;
    align-items: center;
}
 .centerField {
    width: 100px;
    height: 100px;
    margin-top: 250px;

} 
.arrow {
    width: 100%;
}
.arrow180 {
    transform: rotate(180deg);
}
.buttomsShips {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: flex-end;
} 
.buttomAutoPlasing {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: 20px;
    width: 50%;
    height: 30px;
/*     margin-top: 50px;
    margin-bottom: 50px; */
    background-color: gold;
    

}
.userShip4 {
    background-color: gold;
}
.userShip3 {
    background-color: gold;
}
.userShip2 {
    background-color: gold;
}
.userShip1 {
    background-color: gold;
}

.mouseOver4 {
    background-color: goldenrod ;
}
.mouseOver3 {
    background-color: goldenrod;
}
.mouseOver2 {
    background-color: goldenrod;
}
.mouseOver1 {
    background-color: goldenrod;
}
.mouseOverBad4 {
    background-color: black ;
}
.mouseOverBad3 {
    background-color: black ;
}
.mouseOverBad2 {
    background-color: black ;
}
.mouseOverBad1 {
    background-color: black ;
}
.crackShip {
    background-color: brown;
}
.FailShot {
    background-color: skyblue;
}
@media (max-width: 844px) {
    .container {
    flex-direction: column ;
    align-items: center;
    }
    .centerField {

        margin-top: 50px;
    } 
    .arrow {
        transform: rotate(90deg);
    }
    .arrow180 {
        transform: rotate(270deg);
    }
}
.hover {
    background-color: cornflowerblue;
}