body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tooble {
    width: 100%;
    height: 110px;
    border-bottom: solid 2px #bccae0;
    background-color: rgba(143, 186, 229, 0.226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 33%;
    height: 90px;
    border: solid 1px #bccae0;
    margin: 5px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#buttonClear {
    width: 120px;
    height: 40px;
    border: #a3acbb 1px solid;
    border-radius: 5px;
    text-align: center;
    background-color: #bccae0;
    user-select: none;
}

#buttonClear p {
    margin: 0;
    padding: 0;
}

#buttonClear:hover {
    background-color: #94afca;
    cursor: pointer;
}

#buttonClear:active {
    background: linear-gradient(#32686d60, #94afca) #fafafa;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset;
    margin-top: 2px;
    margin-left: 2px;
}

#buttonSave {
    width: 120px;
    height: 40px;
    border: #a3acbb 1px solid;
    border-radius: 5px;
    text-align: center;
    background-color: #55c588;
    user-select: none;
}

#buttonSave p {
    margin: 0;
    padding: 0;
}

#buttonSave:hover {
    background-color: #53c77a;
    cursor: pointer;
}

#buttonSave:active {
    background: linear-gradient(#32686d60, #5ac991) #fafafa;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset;
    margin-top: 2px;
    margin-left: 2px;
}

.t-bottom {
    width: 100%;
    height: 20px;
    background-color: rgb(215, 225, 235);
    border-top: #a3acbb 2px solid;
    bottom: 0;
    position: absolute;
}

input[type="color"] {
    width: 50px;
    height: 50px;
    border: none;
    margin-top: 27px;
    background-color: rgba(0, 0, 0, 0);
}

.two {
    display: block
}

.two p {
    margin: 7px 0 10px 20px;
}

#boxPoint {
    width: 40px;
    height: 17px;
    background-color: rgba(255, 255, 255, 0.486);
    text-align: center;
    margin: 0px 0 8px 50px;
    border: solid 1px #bccae0;
    border-radius: 3px;
}

.slider {
    display: inline;
}

input[type=range] {
    width: 150px;
    height: 5px;
    -webkit-appearance: none;
    border-radius: 8px;
    background-color: #bccae0;
    outline: none;
    border-radius: 8px;
    border: solid 1px #adb0b4;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ecf0f1;
    border: 1px solid #adb0b4;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.paletteBox {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    border: solid 1px #c1c4c9;
}

.paletteBox:hover {
    border: solid 1px #a3acbb;
}

.paletteBox:active {
    border: solid 1px #ff0;
}

#palette, #canvas {
    display: inline-block;
    cursor: default;
}

.paletteWrap {
    width: 75%;
    margin: 0;
    padding: 0;
}

#palette {
    margin: 0px 0 0 30px;
}

.paletteWrap p {
    text-align: center;
    margin: 0px 0 10px 0;
    padding: 0;
}

#coordinates {
    font-size: 14px;
    margin-left: 10px;
}