#filter {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    display: none;
}
#modalForm{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 150;
    margin: 0 auto;
    width: 450px;
    height: 500px;
    display: none;
}
form {
    margin: 0 auto;
    background: rgba(0, 100, 255, .8);
    width: 450px;
    height: 500px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, .5);
}
