<template>
    <!-- <h1>Список участников</h1> -->
  <table id="v-for-table">
    <tr><th><h3>Список участников</h3></th></tr>
    <tr>
      <th>ФИО</th>
      <th>Дата рождения</th>
      <th>Пол</th>
      <th>Адрес</th>
    </tr>
    <tr v-for="participant in participants"
        :key="participant.birthday"
    >
      <div>
        <td>{{participant.name.first}}</td>
        <td>{{participant.name.middle}}</td>
        <td>{{participant.name.last}}</td>
      </div>
      <td>{{participant.birthday}}</td>
      <td>{{participant.sex}}</td>
      <td>{{participant.point.address}}</td>
    </tr>
  </table>
    <!-- <h1>Размещение на карте</h1> -->
    <!-- <div id="map" style="width: 100%; height: 600px;"></div> -->
</template>
<script>

export default {
  data () {
    return {
      participants: nameList
    }
  }
}

const nameList = [
  { name: { first: 'Александр', last: 'Туманов', middle: 'Игоревич' }, birthday: '1980-01-15', sex: 'm', point: { address: 'Россия, г. Москва, ул. Ставропольская' } },
  { name: { first: 'Александр', last: 'Сидоров', middle: '' }, birthday: '1977', sex: 'm', point: { address: 'Россия, Калужская область, Малоярославецкий район, деревня Митинка' } },
  { name: { first: 'Роман', last: 'Пузанков', middle: '' }, birthday: '1992', sex: 'm', point: { address: 'Россия, Нижний Новгород' } },
  { name: { first: 'Александр', last: 'Хилевич', middle: 'Анатольевич' }, birthday: '1982-11-11', sex: 'm', point: { address: 'Беларусь, Брестская обл., г. Барановичи' } },
  { name: { first: 'Михаил', last: 'Захаров', middle: '' }, birthday: '1977', sex: 'm', point: { address: 'Россия, Рязанская область, Спас-Клепики' } },
  { name: { first: 'Зинаида', last: 'Химельбранд', middle: '' }, birthday: '', sex: 'f', point: { address: '' } },
  { name: { first: 'Виталий', last: '', middle: '' }, birthday: '', sex: 'm', point: { address: '' } },
  { name: { first: 'Андрей', last: 'Патин', middle: 'Николаевич' }, birthday: '1979', sex: 'm', point: { address: 'Россия, г. Москва, Свиблово' } },
  { name: { first: 'Сергей', last: 'Пушкарёв', middle: '' }, birthday: '1984', sex: 'm', point: { address: 'Россия, г. Санкт-Петербург' } },
  { name: { first: 'Всеволод', last: '', middle: '' }, birthday: '', sex: 'm', point: { address: 'Россия, Ивановская область' } },
  { name: { first: 'Павел', last: 'Перов', middle: '' }, birthday: '1979', sex: 'm', point: { address: 'Россия, Москва, ул. Белореченская' } }
]

// let myMap
// const lastMember = false
// function init () {
// // Создание карты.
//   myMap = new ymaps.Map('map', {
//     // Координаты центра карты.
//     // Порядок по умолчанию: «широта, долгота».
//     // Чтобы не определять координаты центра карты вручную,
//     // воспользуйтесь инструментом Определение координат.
//     center: [55.76, 37.64],
//     // Уровень масштабирования. Допустимые значения:
//     // от 0 (весь мир) до 19.
//     zoom: 7
//   })
// ymaps.ready(init)

//   nameList.forEach((item, index) => {
//     if (index === (nameList.length - 1)) {
//       lastMember = true
//     }

//     geocodeMember(item)
//   })
// }

// const geocodeMember = member => {
//   if (
//     !member.point.address ||
//             member.point.address === ''
//   ) {
//     console.log(`У товарища c ФИО ${member.name.last} ${member.name.first} не указан адрес.`)
//     return
//   }

//   const address = member.point.address
//   console.log('address', address)

//   const XHR = new XMLHttpRequest()
//   XHR.open('GET', 'https://geocode-maps.yandex.ru/1.x/?apikey=ba994d74-1acb-46d7-a398-f7c5eceaa44d&format=json&geocode=' + address)
//   XHR.responseType = 'json'
//   XHR.onload = function () {
//     const status = XHR.status
//     if (status !== 200) {
//       console.log('status: ', status)

//       return
//     }

//     console.log(XHR.response)

//     try {
//       console.log('CHECK')
//       if (XHR.response.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos) {
//         console.log('GET COORDS')
//         const coordinates = XHR.response.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos.split(' ')
//         console.log(coordinates)
//         member.point = {
//           coordinates: {
//             latitude: coordinates[1],
//             longitude: coordinates[0]
//           }
//         }

//         placeMemberOnMap(member)

//         console.log(member)
//       } else {
//         console.log(`Не могу получить координаты для адреса ${address}.`)
//       }
//     } catch (exception) {
//       console.log('Geocode exception', exception)
//     }
//   }
//   XHR.send()

//   XHR.onerror = function () {
//     console.log(`При попытке геокодировать адрес ${address} произошла ошибка.`)
//   }
// }

// const placeMemberOnMap = member => {
//   const iconContent = `${member.name.last} ${member.name.first}`

//   // ВНИМАНИЕ Опции метки будут браться из опций коллекции.
//   const memberPoint = new ymaps.GeoObject({
//     geometry: {
//       type: 'Point',
//       coordinates: [member.point.coordinates.latitude, member.point.coordinates.longitude]
//     },
//     properties: {
//       iconContent: iconContent,
//       hintContent: member.point.address,
//       balloonContentBody: `<h3>${member.name.last} ${member.name.first}</h3>`
//       // member: member
//     }
//   }, {
//     preset: 'islands#blackStretchyIcon'
//   })
//   myMap.geoObjects.add(memberPoint)

//   if (lastMember) {
//     myMap.setBounds(myMap.geoObjects.getBounds())
//   }
// }

// Сортируем массив по фамилии и имени
// nameList.sort((bottomItem, upperItem) => {
//   if (bottomItem.name.last === upperItem.name.last) {
//     if (bottomItem.name.first > upperItem.name.first) { return -1 } else { return 0 }
//   } else if (bottomItem.name.last < upperItem.name.last) { return -1 }
//   return 0
// })

// const listEl = document.querySelector('#list')

// nameList.forEach((item) => {
//   const rowEl = document.createElement('tr')

//   const fioEl = document.createElement('td')
//   fioEl.innerText = `${item.name.last} ${item.name.first}`.trim()
//   rowEl.appendChild(fioEl)

//   const birthdayEl = document.createElement('td')
//   birthdayEl.innerText = item.birthday === '' ? 'неизвестно' : item.birthday
//   rowEl.appendChild(birthdayEl)

//   const sexEl = document.createElement('td')
//   sexEl.innerText = item.sex === 'm' ? 'М' : item.sex === 'f' ? 'Ж' : 'неизвестно'
//   rowEl.appendChild(sexEl)

//   const addressEl = document.createElement('td')
//   addressEl.innerText = item.point.address === '' ? 'неизвестно' : item.point.address
//   rowEl.appendChild(addressEl)

//   listEl.appendChild(rowEl)
// })

// export default {
//   name: 'List'
// }
</script>
