<template>
    <div>
        <h1>Манифест Коммунистической партии (К.Маркс, Ф.Энгельс. 1848)</h1>
        <br>
        <h2>Содержание</h2>
        <ul style="padding: 20px;">
            <li><a href="#ch1">I. Буржуа и пролетарии</a></li>
            <li><a href="#ch2">II. Пролетарии и коммунисты</a></li>
            <li><a href="#ch3">III. Социалистическая и коммунистическая&nbsp;литература</a>
                <ul style="padding: 20px;">
                    <li><a href="#ch3-1">1. Реакционный социализм</a>
                        <ul style="padding: 20px;">
                            <li><a href="#ch3-1a">a) Феодальный социализм</a></li>
                            <li><a href="#ch3-1b">b) Мелкобуржуазный социализм</a></li>
                            <li><a href="#ch3-1c">c) Немецкий или "истинный", социализм</a></li>
                        </ul>
                    </li>
                    <li><a href="#ch3-2">2. Консервативный, или буржуазный, социализм</a></li>
                    <li><a href="#ch3-3">3. Критически-утопический социализм и коммунизм</a></li>
                </ul>
            </li>
            <li><a href="#ch4">IV. Отношение коммунистов к различным оппозиционным партиям</a></li>
        </ul>

        <p>Призрак бродит по Европе - призрак коммунизма. Все силы старой
        Европы объединились для священной травли этого призрака: папа и царь,
        Меттерних и Гизо, французские радикалы и немецкие полицейские. </p>

        <p>Где та оппозиционная партия, которую ее противники, стоящие у
        власти, не ославили бы коммунистической? Где та оппозиционная партия,
        которая в свою очередь не бросала бы клеймящего обвинения в коммунизме
        как более передовым представителям оппозиции, так и своим реакционным
        противникам? </p>

        <p>Два вывода вытекают из этого факта:</p>
        - Коммунизм признается уже силой всеми европейскими силами.<br>
        - Пора уже коммунистам перед всем миром открыто изложить свои
        взгляды, свои цели, свои стремления и сказкам о призраке коммунизма
        противопоставить манифест самой партии.<br>

        <p>С этой целью в Лондоне собрались коммунисты самых различных
        национальностей и составили следующий "Манифест", который публикуется
        на английском, французском, немецком, итальянском, фламандском и
        датском языках.</p>
        <br>
        <h2 id="ch1">I. БУРЖУА<sup><a href="#1">1</a></sup> И ПРОЛЕТАРИИ</h2>

        <p>История всех до сих пор существовавших обществ<sup><a href="#2">2</a></sup>
        была историей борьбы классов.</p>

        <p>Свободный и раб, патриций и плебей, помещик и крепостной, мастер<sup><a href="#3">3</a></sup> и подмастерье, короче, угнетающий и угнетаемый
        находились в вечном антагонизме друг к другу, вели непрерывную, то
        скрытую, то явную борьбу, всегда кончавшуюся революционным
        переустройством всего общественного здания или общей гибелью борющихся
        классов.</p>

        <p>В предшествующие исторические эпохи мы находим почти повсюду полное
        расчленение общества на различные сословия,- целую лестницу различных
        общественных положений. В Древнем Риме мы встречаем патрициев,
        всадников, плебеев, рабов; в средние века - феодальных господ,
        вассалов, цеховых мастеров, подмастерьев, крепостных, и к тому же почти
        в каждом из этих классов - еще особые градации.</p>

        <p>Вышедшее из недр погибшего феодального общества современное
        буржуазное общество не уничтожило классовых противоречий. Оно только
        поставило новые классы, новые условия угнетения и новые формы борьбы на
        место старых.</p>

        <p>Наша эпоха, эпоха буржуазии, отличается, однако, тем, что она
        упростила классовые противоречия: общество все более и более
        раскалывается на два большие враждебные лагеря, на два большие, стоящие
        друг против друга, класса - буржуазию и пролетариат.</p>

        <p>Из крепостных средневековья вышло свободное население первых
        городов; из этого сословия горожан развились первые элементы буржуазии.</p>

        <p>Открытие Америки и морского пути вокруг Африки создало для
        подымающейся буржуазии новое поле деятельности. Остиндский и китайский
        рынки, колонизация Америки, обмен с колониями, увеличение количества
        средств обмена и товаров вообще дали неслыханный до тех пор толчок
        торговле, мореплаванию, промышленности и тем самым вызвали в
        распадавшемся феодальном обществе быстрое развитие революционного
        элемента.</p>

        <p>Прежняя феодальная, или цеховая, организация промышленности более
        не могла удовлетворить спроса, возраставшего вместе с новыми рынками.
        Место ее заняла мануфактура. Цеховые мастера были вытеснены
        промышленным средним сословием; разделение труда между различными
        корпорациями исчезло, уступив место разделению труда внутри отдельной
        мастерской. </p>

        <p>Но рынки все росли, спрос все увеличивался. Удовлетворить его не
        могла уже и мануфактура. Тогда пар и машина произвели революцию в
        промышленности. Место мануфактуры заняла современная крупная
        промышленность, место промышленного среднего сословия заняли
        миллионеры-промышленники, предводители целых промышленных армий,
        современные буржуа. </p>

        <p>Крупная промышленность создала всемирный рынок, подготовленный
        открытием Америки. Всемирный рынок вызвал колоссальное развитие
        торговли, мореплавания и средств сухопутного сообщения. Это в свою
        очередь оказало воздействие на расширение промышленности, и в той же
        мере, в какой росли промышленность, торговля, мореплавание, железные
        дороги, развивалась буржуазия, она увеличивала свои капиталы и
        оттесняла на задний план все классы, унаследованные от средневековья.</p>

        <p>Мы видим, таким образом, что современная буржуазия сама является
        продуктом длительного процесса развития, ряда переворотов в способе
        производства и обмена. </p>

        <p>Каждая из этих ступеней развития буржуазии сопровождалась
        соответствующим политическим успехом. Угнетенное сословие при
        господстве феодалов, вооруженная и самоуправляющаяся ассоциация в
        коммуне<sup><a href="#4">4</a></sup>, тут - независимая городская
        республика, там - третье, податное сословие монархии<sup><a href="#5">5</a></sup>,
        затем, в период мануфактуры, - противовес дворянству в сословной или в
        абсолютной монархии и главная основа крупных монархий вообще, наконец,
        со времени установления крупной промышленности и всемирного рынка, она
        завоевала себе исключительное политическое господство в современном
        представительном государстве. Современная государственная власть - это
        только комитет, управляющий общими делами всего .класса буржуазии. </p>

        <p>Буржуазия сыграла в истории чрезвычайно революционную роль. </p>

        <p>Буржуазия, повсюду, где она достигла господства, разрушила все
        феодальные, патриархальные, идиллические отношения. Безжалостно
        разорвала она пестрые феодальные путы, привязывавшие человека к его
        "естественным повелителям", и не оставила между людьми никакой другой
        связи, кроме голого интереса, бессердечного "чистогана". В ледяной воде
        эгоистического расчета потопила она священный трепет религиозного
        экстаза, рыцарского энтузиазма, мещанской сентиментальности. Она
        превратила личное достоинство человека в меновую стоимость и поставила
        на место бесчисленных пожалованных и благоприобретенных свобод <i>одну</i>
        бессовестную свободу торговли. Словом, эксплуатацию, прикрытую
        религиозными и политическими иллюзиями, она заменила эксплуатацией
        открытой, бесстыдной, прямой, черствой. </p>

        <p>Буржуазия лишила священного ореола все роды деятельности, которые
        до тех пор считались почетными и на которые смотрели с благоговейным
        трепетом. Врача, юриста, священника, поэта, человека науки она
        превратила в своих платных наемных работников. </p>

        <p>Буржуазия сорвала с семейных отношений их трогательно
        сентиментальный покров и свела их к чисто денежным отношениям. </p>

        <p>Буржуазия показала, что грубое проявление силы в средние века,
        вызывающее такое восхищение у реакционеров, находило себе естественное
        дополнение в лени и неподвижности. Она впервые показала, чего может
        достигнуть человеческая деятельность. Она создала чудеса искусства, но
        совсем иного рода, чем египетские пирамиды, римские водопроводы и
        готические соборы; она совершила совсем иные походы, чем переселение
        народов и крестовые походы. </p>

        <p>Буржуазия не может существовать, не вызывая постоянно переворотов в
        орудиях производства, не революционизируя, следовательно,
        производственных отношений, а стало быть, и всей совокупности
        общественных отношений. Напротив, первым условием существования всех
        прежних промышленных классов было сохранение старого способа
        производства в неизменном виде. Беспрестанные перевороты в
        производстве, непрерывное потрясение всех общественных отношений,
        вечная неуверенность и движение отличают буржуазную эпоху от всех
        других. Все застывшие, покрывшиеся ржавчиной отношения, вместе с
        сопутствующими им, веками освященными представлениями и воззрениями,
        разрушаются, все возникающие вновь оказываются устарелыми, прежде чем
        успевают окостенеть. Все сословное и застойное исчезает, все священное
        оскверняется, и люди приходят, наконец, к необходимости взглянуть
        трезвыми глазами на свое жизненное положение и свои взаимные отношения.
        </p>

        <p>Потребность в постоянно увеличивающемся сбыте продуктов гонит
        буржуазию по всему земному шару. Всюду должна она внедриться, всюду
        обосноваться, всюду установить связи. </p>

        <p>Буржуазия путем эксплуатации всемирного рынка сделала производство
        и потребление всех стран космополитическим. К великому огорчению
        реакционеров она вырвала из-под ног промышленности национальную почву.
        Исконные национальные отрасли промышленности уничтожены и продолжают
        уничтожаться с каждым днем. Их вытесняют новые отрасли промышленности,
        введение которых становится вопросом жизни для всех цивилизованных
        наций, - отрасли, перерабатывающие уже не местное сырье, а сырье,
        привозимое из самых отдаленных областей земного шара, и вырабатывающие
        фабричные продукты, потребляемые не только внутри данной страны, но и
        во всех частях света. Вместо старых потребностей, удовлетворявшихся
        отечественными продуктами, возникают новые, для удовлетворения которых
        требуются продукты самых отдаленных стран и самых различных климатов.
        На смену старой местной и национальной замкнутости и существованию за
        счет продуктов собственного производства приходит всесторонняя связь и
        всесторонняя зависимость наций друг от друга. Это в равной мере
        относится как к материальному, так и к духовному производству. Плоды
        духовной деятельности отдельных наций становятся общим достоянием.
        Национальная односторонность и ограниченность становятся все более и
        более невозможными, и из множества национальных и местных литератур
        образуется одна всемирная литература. </p>

        <p>Буржуазия быстрым усовершенствованием всех орудий производства и
        бесконечным облегчением средств сообщения вовлекает в цивилизацию все,
        даже самые варварские, нации. Дешевые цены ее товаров - вот та тяжелая
        артиллерия, с помощью которой она разрушает все китайские стены и
        принуждает к капитуляции самую упорную ненависть варваров к
        иностранцам. Под страхом гибели заставляет она все нации принять
        буржуазный способ производства, заставляет их вводить у себя так
        называемую цивилизацию, т. е. становиться буржуа. Словом, она создает
        себе мир по своему образу и подобию. </p>

        <p>Буржуазия подчинила деревню господству города. Она создала огромные
        города, в высокой степени увеличила численность городского населения по
        сравнению с сельским и вырвала таким образом значительную часть
        населения из идиотизма деревенской жизни. Так же как деревню она
        сделала зависимой от города, так варварские и полуварварские страны она
        поставила в зависимость от стран цивилизованных, крестьянские народы -
        от буржуазных народов, Восток- от Запада. </p>

        <p>Буржуазия все более и более уничтожает раздробленность средств
        производства, собственности и населения. Она сгустила население,
        централизовала средства производства, концентрировала собственность в
        руках немногих. Необходимым следствием этого была политическая
        централизация. Независимые, связанные почти только союзными отношениями
        области с различными интересами, законами, правительствами и
        таможенными пошлинами, оказались сплоченными в <i>одну</i> нацию, с <i>одним</i>
        правительством, с <i>одним</i> законодательством, с <i>одним</i>
        национальным классовым интересом, с <i>одной</i> таможенной границей. </p>

        <p>Буржуазия менее чем за сто лет своего классового господства создала
        более многочисленные и более грандиозные производительные силы, чем все
        предшествовавшие поколения, вместе взятые. Покорение сил природы,
        машинное производство, применение химии в промышленности и земледелии,
        пароходство, железные дороги, электрический телеграф, освоение для
        земледелия целых частей света, приспособление рек для судоходства,
        целые, словно вызванные из-под земли, массы населения, - какое из
        прежних столетий могло подозревать, что такие производительные силы
        дремлют в недрах общественного труда! </p>

        <p>Итак, мы видели, что средства производства и обмена, на основе
        которых сложилась буржуазия, были созданы в феодальном обществе. На
        известной ступени развития этих средств производства и обмена
        отношения, в которых происходили производство и обмен феодального
        общества, феодальная организация земледелия и промышленности, одним
        словом, феодальные отношения собственности, уже перестали
        соответствовать развившимся производительным силам. Они тормозили
        производство, вместо того чтобы его развивать. Они превратились в его
        оковы. Их необходимо было разбить, и они были разбиты. </p>

        <p>Место их заняла свободная конкуренция, с соответствующим ей
        общественным и политическим строем, с экономическим и политическим
        господством класса буржуазии. </p>

        <p>Подобное же движение совершается на наших глазах. Современное
        буржуазное общество, с его буржуазными отношениями производства и
        обмена, буржуазными отношениями собственности, создавшее как бы по
        волшебству столь могущественные средства производства и обмена, походит
        на волшебника, который не в состоянии более справиться с подземными
        силами, вызванными его заклинаниями. Вот уже несколько десятилетий
        история промышленности и торговли представляет собой лишь историю
        возмущения современных производительных сил против современных
        производственных отношений, против тех отношений собственности, которые
        являются условием существования буржуазии и ее господства. Достаточно
        указать на торговые кризисы, которые, возвращаясь периодически, все
        более и более грозно ставят под вопрос существование всего буржуазного
        общества. Во время торговых кризисов каждый раз уничтожается
        значительная часть не только изготовленных продуктов, но даже созданных
        уже производительных сил. Во время кризисов разражается общественная
        эпидемия, которая всем предшествующим эпохам показалась бы нелепостью,
        - эпидемия перепроизводства. Общество оказывается вдруг отброшенным
        назад к состоянию внезапно наступившего варварства, как будто голод,
        всеобщая опустошительная война лишили его всех жизненных средств;
        кажется, что промышленность, торговля уничтожены, - и почему? Потому,
        что общество обладает слишком большой цивилизацией, имеет слишком много
        жизненных средств, располагает слишком большой промышленностью и
        торговлей. Производительные силы, находящиеся в его распоряжении, не
        служат более развитию буржуазных отношений собственности; напротив, они
        стали непомерно велики для этих отношений, буржуазные отношения
        задерживают их развитие; и когда производительные силы начинают
        преодолевать эти преграды, они приводят в расстройство все буржуазное
        общество, ставят под угрозу существование буржуазной собственности.
        Буржуазные отношения стали слишком узкими, чтобы вместить созданное ими
        богатство. - Каким путем преодолевает буржуазия кризисы? С одной
        стороны, путем вынужденного уничтожения целой массы производительных
        сил, с другой стороны, путем завоевания новых рынков и более
        основательной эксплуатации старых. Чем же, следовательно? Тем, что она
        подготовляет более всесторонние и более сокрушительные кризисы и
        уменьшает средства противодействия им. </p>

        <p>Оружие, которым буржуазия ниспровергла феодализм, направляется
        теперь против самой буржуазии. </p>

        <p>Но буржуазия не только выковала оружие, несущее ей смерть; она
        породила и людей, которые направят против нее это оружие, - современных
        рабочих, пролетариев. </p>

        <p>В той же самой степени, в какой развивается буржуазия, т. е.
        капитал, развивается и пролетариат, класс современных рабочих, которые
        только тогда и могут существовать, когда находят работу, а находят ее
        лишь до тех пор, пока их труд увеличивает капитал. Эти рабочие,
        вынужденные продавать себя поштучно, представляют собой такой же товар,
        как и всякий другой предмет торговли, а потому в равной мере подвержены
        всем случайностям конкуренции, всем колебаниям рынка. </p>

        <p>Вследствие возрастающего применения машин и разделения труда, труд
        пролетариев утратил всякий самостоятельный характер, а вместе с тем и
        всякую привлекательность для рабочего. Рабочий становится простым
        придатком машины, от него требуются только самые простые, самые
        однообразные, легче всего усваиваемые приемы. Издержки на рабочего
        сводятся поэтому почти исключительно к жизненным средствам, необходимым
        для его содержания и продолжения его рода. Но цена всякого товара, а
        следовательно и труда, равна издержкам его производства. Поэтому в той
        же самой мере, в какой растет непривлекательность труда, уменьшается
        заработная плата. Больше того: в той же мере, в какой возрастает
        применение машин и разделение труда, возрастает и количество труда, за
        счет ли увеличения числа рабочих часов, или же вследствие увеличения
        количества труда, требуемого в каждый данный промежуток времени,
        ускорения хода машин и т. д. </p>

        <p>Современная промышленность превратила маленькую мастерскую
        патриархального мастера в крупную фабрику промышленного капиталиста.
        Массы рабочих, скученные на фабрике, организуются по-солдатски. Как
        рядовые промышленной армии, они ставятся под надзор целой иерархии
        унтер-офицеров и офицеров. Они - рабы не только класса буржуазии,
        буржуазного государства, ежедневно и ежечасно порабощает их машина,
        надсмотрщик и прежде всего сам отдельный буржуа-фабрикант. Эта деспотия
        тем мелочнее, ненавистнее, она тем больше ожесточает, чем откровеннее
        ее целью провозглашается нажива. </p>

        <p>Чем менее искусства и силы требует ручной труд, т. е. чем более
        развивается современная промышленность, тем более мужской труд
        вытесняется женским и детским. По отношению к рабочему классу различия
        пола и возраста утрачивают всякое общественное значение. Существуют
        лишь рабочие инструменты, требующие различных издержек в зависимости от
        возраста и пола. </p>

        <p>Когда заканчивается эксплуатация рабочего фабрикантом и рабочий
        получает, наконец, наличными свою заработную плату, на него
        набрасываются другие части буржуазии - домовладелец, лавочник,
        ростовщик и т. п. </p>

        <p>Низшие слои среднего сословия: мелкие промышленники, мелкие
        торговцы и рантье, ремесленники и крестьяне - всо эти классы опускаются
        в ряды пролетариата, частью оттого, что их маленького капитала
        недостаточно для ведения крупных промышленных предприятий и он не
        выдерживает конкуренции с более крупными капиталистами, частью потому,
        что их профессиональное мастерство обесценивается в результате введения
        новых методов производства. Так рекрутируется пролетариат из всех
        классов населения, </p>

        <p>Пролетариат проходит различные ступени развития. Его борьба против
        буржуазии начинается вместе с его существованием. Сначала борьбу ведут
        отдельные рабочие, потом рабочие одной фабрики, затем рабочие одной
        отрасли труда в одной местности против отдельного буржуа, который их
        непосредственно эксплуатирует. Рабочие направляют свои удары не только
        против буржуазных производственных отношений, но и против самих орудий
        производства; они уничтожают конкурирующие иностранные товары,
        разбивают машины, поджигают фабрики, силой пытаются восстановить
        потерянное положение средневекового рабочего. </p>

        <p>На этой ступени рабочие образуют рассеянную по всей стране и
        раздробленную конкуренцией массу. Сплочение рабочих масс пока является
        еще не следствием их собственного объединения, а лишь следствием
        объединения буржуазии, которая для достижения своих собственных
        политических целей должна, и пока еще может, приводить в движение весь
        пролетариат. На этой ступени пролетарии борются, следовательно, не со
        своими врагами, а с врагами своих врагов - с остатками абсолютной
        монархии, землевладельцами, непромышленными буржуа, мелкими буржуа. Все
        историческое движение сосредоточивается, таким образом, в руках
        буржуазии; каждая одержанная в таких условиях победа является победой
        буржуазии. </p>

        <p>Но с развитием промышленности пролетариат не только возрастает
        численно; он скопляется в большие массы, сила его растет, и он все
        более ее ощущает. Интересы и условия жизни пролетариата все более и
        более уравниваются по мере того, как машины все более стирают различия
        между отдельными видами труда и почти всюду низводят заработную плату
        до одинаково низкого уровня. Возрастающая конкуренция буржуа между
        собою и вызываемые ею торговые кризисы ведут к тому, что заработная
        плата рабочих становится все неустойчивее; все быстрее развивающееся,
        непрерывное совершенствование машин делает жизненное положение
        пролетариев все менее обеспеченным; столкновения между отдельным
        рабочим и отдельным буржуа все более принимают характер столкновений
        между двумя классами. Рабочие начинают с того, что образуют коалиции<sup><a href="#6">6</a></sup> против буржуа; они выступают сообща для защиты
        своей заработной платы. Они основывают даже постоянные ассоциации для
        того, чтобы обеспечить себя средствами на случай возможных
        столкновений. Местами борьба переходит в открытые восстания. </p>

        <p>Рабочие время от времени побеждают, но эти победы лишь преходящи.
        Действительным результатом их борьбы является не непосредственный
        успех, а все шире распространяющееся объединение рабочих. Ему
        способствуют все растущие средства сообщения, создаваемые крупной
        промышленностью и устанавливающие связь между рабочими различных
        местностей. Лишь эта связь и требуется для того, чтобы централизовать
        многие местные очаги борьбы, носящей повсюду одинаковый характер, и
        слить их в одну национальную, классовую борьбу. А всякая классовая
        борьба есть борьба политическая. И объединение, для которого
        средневековым горожанам с их проселочными дорогами требовались
        столетия, достигается современными пролетариями, благодаря железным
        дорогам, в течение немногих лет. </p>

        <p>Эта организация пролетариев в класс, и тем самым - в политическую
        партию, ежеминутно вновь разрушается конкуренцией между самими
        рабочими. Но она возникает снова и снова, становясь каждый раз сильнее,
        крепче, могущественнее. Она заставляет признать отдельные интересы
        рабочих в законодательном порядке, используя для этого раздоры между
        отдельными слоями буржуазии. Например, закон о десятичасовом рабочем
        дне в Англии. </p>

        <p>Вообще столкновения внутри старого общества во многих отношениях
        способствуют процессу развития пролетариата. Буржуазия ведет
        непрерывную борьбу: сначала против аристократии, позднее против тех
        частей самой же буржуазии, интересы которых приходят в противоречие с
        прогрессом промышленности, и постоянно - против буржуазии всех
        зарубежных стран. Во всех этих битвах она вынуждена обращаться к
        пролетариату, призывать его на помощь и вовлекать его таким образом в
        политическое движение. Она, следовательно, сама передает пролетариату
        элементы своего собственного образования<sup><a href="#7">7</a></sup>,
        т. е. оружие против самой себя. </p>

        <p>Далее, как мы видели, прогресс промышленности сталкивает в ряды
        пролетариата целые слои господствующего класса или, по крайней мере,
        ставит под угрозу условия их жизни. Они также приносят пролетариату
        большое количество элементов образования. </p>

        <p>Наконец, в те периоды, когда классовая борьба приближается к
        развязке, процесс разложения внутри господствующего класса, внутри
        всего старого общества принимает такой бурный, такой резкий характер,
        что небольшая часть господствующего класса отрекается от него и
        примыкает к революционному классу, к тому классу, которому принадлежит
        будущее. Вот почему, как прежде часть дворянства переходила к
        буржуазии, так теперь часть буржуазии переходит к пролетариату, именно
        - часть буржуа-идеологов, которые возвысились до теоретического
        понимания всего хода исторического движения. </p>

        <p>Из всех классов, которые противостоят теперь буржуазии, только
        пролетариат представляет собой действительно революционный класс. Все
        прочие классы приходят в упадок и уничтожаются с развитием крупной
        промышленности, пролетариат же есть ее собственный продукт. </p>

        <p>Средние сословия: мелкий промышленник, мелкий торговец, ремесленник
        и крестьянин - все они борются с буржуазией для того, чтобы спасти свое
        существование от гибели, как средних сословий. Они, следовательно, не
        революционны, а консервативны. Даже более, они реакционны: они
        стремятся повернуть назад колесо истории. Если они революционны, то
        постольку, поскольку им предстоит переход в ряды пролетариата,
        поскольку они защищают не свои настоящие, а свои будущие интересы,
        поскольку они покидают свою собственную точку зрения для того, чтобы
        встать на точку зрения пролетариата. </p>

        <p>Люмпен-пролетариат, этот пассивный продукт гниения самых низших
        слоев старого общества, местами вовлекается пролетарской революцией в
        движение, но в силу всего своего жизненного положения он гораздо более
        склонен продавать себя для реакционных козней. </p>

        <p>Жизненные условия старого общества уже уничтожены в жизненных
        условиях пролетариата. У пролетария нет собственности; его отношение к
        жене и детям не имеет более ничего общего с буржуазными семейными
        отношениями; современный промышленный труд, современное иго капитала,
        одинаковое как в Англии, так и во Франции, как в Америке, так и в
        Германии, стерли с него всякий национальный характер. Законы, мораль,
        религия - все это для него не более как буржуазные предрассудки, за
        которыми скрываются буржуазные интересы. </p>

        <p>Все прежние классы, завоевав себе господство, стремились упрочить
        уже приобретенное ими положение в жизни, подчиняя все общество
        условиям, обеспечивающим их способ присвоения. Пролетарии же могут
        завоевать общественные производительные силы, лишь уничтожив свой
        собственный нынешний способ присвоения, а тем самым и весь
        существовавший до сих пор способ присвоения в целом. У пролетариев нет
        ничего своего, что надо было бы им охранять, они должны разрушить все,
        что до сих пор охраняло и обеспечивало частную собственность. </p>

        <p>Все до сих пор происходившие движения были движениями меньшинства
        или совершались в интересах меньшинства. Пролетарское движение есть
        самостоятельное движение огромного большинства в интересах огромного
        большинства. Пролетариат, самый низший слой современного общества, не
        может подняться, не может выпрямиться без того, чтобы при этом не
        взлетела на воздух вся возвышающаяся над ним надстройка из слоев,
        образующих официальное общество. </p>

        <p>Если не по содержанию, то по форме борьба пролетариата против
        буржуазии является сначала борьбой национальной. Пролетариат каждой
        страны, конечно, должен сперва покончить со своей собственной
        буржуазией. </p>

        <p>Описывая наиболее общие фазы развития пролетариата, мы прослеживали
        более или менее прикрытую гражданскую войну внутри существующего
        общества вплоть до того пункта, когда она превращается в открытую
        революцию, и пролетариат основывает свое господство посредством
        насильственного ниспровержения буржуазии. </p>

        <p>Все доныне существовавшие общества основывались, как мы видели, на
        антагонизме между классами угнетающими и угнетенными. Но, чтобы
        возможно было угнетать какой-либо класс, необходимо обеспечить условия,
        при которых он мог бы влачить, по крайней мере, свое рабское
        существование. Крепостной в крепостном состоянии выбился до положения
        члена коммуны так же, как мелкий буржуа под ярмом феодального
        абсолютизма выбился до положения буржуа. Наоборот, современный рабочий
        с прогрессом промышленности не поднимается, а все более опускается ниже
        условий существования своего собственного класса. Рабочий становится
        паупером, и пауперизм растет еще быстрее, чем население и богатство.
        Это ясно показывает, что буржуазия неспособна оставаться долее
        господствующим классом общества и навязывать всему обществу условия
        существования своего класса в качестве регулирующего закона. Она
        неспособна господствовать, потому что неспособна обеспечить своему рабу
        даже рабского уровня существования, потому что вынуждена дать ему
        опуститься до такого положения, когда она сама должна его кормить,
        вместо того чтобы кормиться за его счет. Общество не может более жить
        под ее властью, т. е. ее жизнь несовместима более с обществом. </p>

        <p>Основным условием существования и господства класса буржуазии
        является накопление богатства в руках частных лиц, образование и
        увеличение капитала. Условием существования капитала является наемный
        труд. Наемный труд держится исключительно на конкуренции рабочих между
        собой. Прогресс промышленности, невольным носителем которого является
        буржуазия, бессильная ему сопротивляться, ставит на место разъединения
        рабочих конкуренцией революционное объединение их посредством
        ассоциации. Таким образом, с развитием крупной промышленности из-под
        ног буржуазии вырывается сама основа, на которой она производит и
        присваивает продукты. Она производит прежде всего своих собственных
        могильщиков. Ее гибель и победа пролетариата одинаково неизбежны.
        </p>
        <br>
        <h2 id="ch2">II ПРОЛЕТАРИИ И КОММУНИСТЫ</h2>
        <p>В каком отношении стоят коммунисты к пролетариям вообще? </p>

        <p>Коммунисты не являются особой партией, противостоящей другим
        рабочим партиям. </p>

        <p>У них нет никаких интересов, отдельных от интересов всего
        пролетариата в целом. </p>

        <p>Они не выставляют никаких особых<sup><a href="#8">8</a></sup>
        принципов, под которые они хотели бы подогнать пролетарское движение. </p>

        <p>Коммунисты отличаются от остальных пролетарских партий лишь тем,
        что, с одной стороны, в борьбе пролетариев различных наций они выделяют
        и отстаивают общие, не зависящие от национальности интересы всего
        пролетариата; с другой стороны, тем, что на различных ступенях
        развития, через которые проходит борьба пролетариата с буржуазией, они
        всегда являются представителями интересов движения в целом. </p>

        <p>Коммунисты, следовательно, на практике являются самой решительной,
        всегда побуждающей к движению вперед<sup><a href="#9">9</a></sup>
        частью рабочих партий всех стран, а в теоретическом отношении у них
        перед остальной массой пролетариата преимущество в понимании условий,
        хода и общих результатов пролетарского движения. </p>

        <p>Ближайшая цель коммунистов та же, что и всех остальных пролетарских
        партий: формирование пролетариата в класс, ниспровержение господства
        буржуазии, завоевание пролетариатом политической власти. </p>

        <p>Теоретические положения коммунистов ни в какой мере не основываются
        на идеях, принципах, выдуманных или открытых тем или другим обновителем
        мира. </p>

        <p>Они являются лишь общим выражением действительных отношений
        происходящей классовой борьбы, выражением совершающегося на наших
        глазах исторического движения. Уничтожение ранее существовавших
        отношений собственности не является чем-то присущим исключительно
        коммунизму. </p>

        <p>Все отношения собственности были подвержены постоянной исторической
        смене, постоянным историческим изменениям. </p>

        <p>Например, французская революция отменила феодальную собственность,
        заменив ее собственностью буржуазной. </p>

        <p>Отличительной чертой коммунизма является не отмена собственности
        вообще, а отмена буржуазной собственности. </p>

        <p>Но современная буржуазная частная собственность есть последнее и
        самое полное выражение такого производства и присвоения продуктов,
        которое держится на классовых антагонизмах, на эксплуатации одних
        другими<sup><a href="#10">10</a></sup>. </p>

        <p>В этом смысле коммунисты могут выразить свою теорию одним
        положением: уничтожение частной собственности. </p>

        <p>Нас, коммунистов, упрекали в том, что мы хотим уничтожить
        собственность, лично приобретенную, добытую своим трудом,
        собственность, образующую основу всякой личной свободы, деятельности и
        самостоятельности. </p>

        <p>Заработанная, благоприобретенная, добытая своим трудом
        собственность! Говорите ли вы о мелкобуржуазной, мелкокрестьянской
        собственности, которая предшествовала собственности буржуазной? Нам
        нечего ее уничтожать, развитие промышленности ее уничтожило и
        уничтожает изо дня в день. </p>

        <p>Или, быть может, вы говорите о современной буржуазной частной
        собственности? </p>

        <p>Но разве наемный труд, труд пролетария, создает ему собственность?
        Никоим образом. Он создает капитал, т..е. собственность,
        эксплуатирующую наемный труд, собственность, которая может
        увеличиваться лишь при условии, что она порождает новый наемный труд,
        чтобы снова его эксплуатировать. Собственность в ее современном виде
        движется в противоположности между капиталом и наемным трудом.
        Рассмотрим же обе стороны этой противоположности. </p>

        <p>Быть капиталистом - значит занимать в производстве не только чисто
        личное, но и общественное положение. Капитал - это коллективный продукт
        и может быть приведен в движение лишь совместной деятельностью многих
        членов общества, а в конечном счете - только совместной деятельностью
        всех членов общества. </p>

        <p>Итак, капитал - не личная, а общественная сила. Следовательно, если
        капитал будет превращен в коллективную, всем членам общества
        принадлежащую, собственность, то это не будет превращением личной
        собственности в общественную. Изменится лишь общественный характер
        собственности. Она потеряет свой классовый характер. Перейдем к
        наемному труду. </p>

        <p>Средняя цена наемного труда есть минимум заработной платы, т. е.
        сумма жизненных средств, необходимых для сохранения жизни рабочего как
        рабочего. Следовательно, того, что наемный рабочий присваивает в
        результате своей деятельности, едва хватает для воспроизводства его
        жизни. Мы вовсе не намерены уничтожить это личное присвоение продуктов
        труда, служащих непосредственно для воспроизводства жизни, присвоение,
        не оставляющее никакого избытка, который мог бы создать власть над
        чужим трудом. Мы хотим уничтожить только жалкий . характер такого
        присвоения, когда рабочий живет только для того, чтобы увеличивать
        капитал, и живет лишь постольку, поскольку этого требуют интересы
        господствующего класса. </p>

        <p>В буржуазном обществе живой труд есть лишь средство увеличивать
        накопленный труд. В коммунистическом обществе накопленный труд - это
        лишь средство расширять, обогащать, облегчать жизненный процесс
        рабочих. </p>

        <p>Таким образом, в буржуазном обществе прошлое господствует над
        настоящим, в коммунистическом обществе - настоящее над прошлым. В
        буржуазном обществе капитал обладает самостоятельностью и
        индивидуальностью, между тем как трудящийся индивидуум лишен
        самостоятельности и обезличен. </p>

        <p>И уничтожение этих отношений буржуазия называет упразднением
        личности и свободы! Она права. Действительно, речь идет об упразднении
        буржуазной личности, буржуазной самостоятельности и буржуазной свободы.
        </p>

        <p>Под свободой, в рамках нынешних буржуазных производственных
        отношений, понимают свободу торговли, свободу купли и продажи. </p>

        <p>Но с падением торгашества падет и свободное торгашество. Разговоры
        о свободном торгашестве, как и все прочие высокопарные речи наших
        буржуа о свободе, имеют вообще смысл лишь по отношению к несвободному
        торгашеству, к порабощенному горожанину средневековья, а не по
        отношению к коммунистическому уничтожению торгашества, буржуазных
        производственных отношений и самой буржуазии. </p>

        <p>Вы приходите в ужас от того, что мы хотим уничтожить частную
        собственность. Но в вашем нынешнем обществе частная собственность
        уничтожена для девяти десятых его членов; она существует именно
        благодаря тому, что не существует для девяти десятых. Вы упрекаете нас,
        следовательно, в том, что мы хотим уничтожить собственность,
        предполагающую в качестве необходимого условия отсутствие собственности
        у огромного большинства общества. </p>

        <p>Одним словом, вы упрекаете нас в том, что мы хотим уничтожить вашу
        собственность. Да, мы действительно хотим это сделать. </p>

        <p>С того момента, когда нельзя будет более превращать труд в капитал,
        в деньги, в земельную ренту, короче - в общественную силу, которую
        можно монополизировать, т. е. с того момента, когда личная
        собственность не сможет более превращаться в буржуазную собственность,
        - с этого момента, заявляете вы, личность уничтожена. </p>

        <p>Вы сознаетесь, следовательно, что личностью вы не признаете никого,
        кроме буржуа, т. е. буржуазного собственника. Такая личность
        действительно должна быть уничтожена. </p>

        <p>Коммунизм ни у кого не отнимает возможности присвоения общественных
        продуктов, он отнимает лишь возможность посредством этого присвоения
        порабощать чужой труд. </p>

        <p>Выдвигали возражение, будто с уничтожением частной собственности
        прекратится всякая деятельность и воцарится всеобщая леность. </p>

        <p>В таком случае буржуазное общество должно было бы давно погибнуть
        от лености, ибо здесь тот, кто трудится, ничего не приобретает, а тот,
        кто приобретает, не трудится. Все эти опасения сводятся к тавтологии,
        что нет больше наемного труда, раз не существует больше капитала. </p>

        <p>Все возражения, направленные против коммунистического способа
        присвоения и производства материальных продуктов, распространяются
        также на присвоение и производство продуктов умственного труда. Подобно
        тому как уничтожение классовой собственности представляется буржуа
        уничтожением самого производства, так и уничтожение классового
        образования для него равносильно уничтожению образования вообще. </p>

        <p>Образование, гибель которого он оплакивает, является для громадного
        большинства превращением в придаток машины. </p>

        <p>Но не спорьте с нами, оценивая при этом отмену буржуазной
        собственности с точки зрения ваших буржуазных представлений о свободе,
        образовании, праве и т. д. Ваши идеи сами являются продуктом буржуазных
        производственных отношений и буржуазных отношений собственности, точно
        так же как ваше право есть лишь возведенная в закон воля вашего класса,
        воля, содержание которой определяется материальными условиями жизни
        вашего класса. </p>

        <p>Ваше пристрастное представление, заставляющее вас превращать свои
        производственные отношения и отношения собственности из отношений
        исторических, преходящих в процессе развития производства, в вечные
        законы природы и разума, вы разделяете со всеми господствовавшими
        прежде и погибшими классами. Когда заходит речь о буржуазной
        собственности, вы не смеете более понять того, что кажется вам понятным
        в отношении собственности античной или феодальной. </p>

        <p>Уничтожение семьи! Даже самые крайние радикалы возмущаются этим
        гнусным намерением коммунистов. </p>

        <p>На чем основана современная, буржуазная семья? На капитале, на
        частной наживе. В совершенно развитом виде она существует только для
        буржуазии; но она находит свое дополнение в вынужденной бессемейности
        пролетариев и в публичной проституции. </p>

        <p>Буржуазная семья естественно отпадает вместе с отпадением этого ее
        дополнения, и обе вместе исчезнут с исчезновением капитала. </p>

        <p>Или вы упрекаете нас в том, что мы хотим прекратить эксплуатацию
        детей их родителями? Мы сознаемся в этом преступлении. </p>

        <p>Но вы утверждаете, что, заменяя домашнее воспитание общественным,
        мы хотим уничтожить самые дорогие для человека отношения. </p>

        <p>А разве ваше воспитание не определяется обществом? Разве оно не
        определяется общественными отношениями, в которых вы воспитываете, не
        определяется прямым или косвенным вмешательством общества через школу и
        т. д.? Коммунисты не выдумывают влияния общества на воспитание; они
        лишь изменяют характер воспитания, вырывают его из-под влияния
        господствующего класса. </p>

        <p>Буржуазные разглагольствования о семье и воспитании, о нежных
        отношениях между родителями и детьми внушают тем более отвращения, чем
        более разрушаются все семейные связи в среде пролетариата благодаря
        развитию крупной промышленности, чем более дети превращаются в простые
        предметы торговли и рабочие инструменты. </p>

        <p>Но вы, коммунисты, хотите ввести общность жен, - кричит нам хором
        вся буржуазия. </p>

        <p>Буржуа смотрит на свою жену как на простое орудие производства. Он
        слышит, что орудия производства предполагается предоставить в общее
        пользование, и, конечно, не может отрешиться от мысли, что и женщин
        постигнет та же участь. </p>

        <p>Он даже и не подозревает, что речь идет как раз об устранении
        такого положения женщины, когда она является простым орудием
        производства. </p>

        <p>Впрочем, нет ничего смешнее высокоморального ужаса наших буржуа по
        поводу мнимой официальной общности жен у коммунистов. Коммунистам нет
        надобности вводить общность жен, она существовала почти всегда. </p>

        <p>Наши буржуа, не довольствуясь тем, что в их распоряжении находятся
        жены и дочери их рабочих, не говоря уже об официальной проституции,
        видят особое наслаждение в том, чтобы соблазнять жен друг у друга. </p>

        <p>Буржуазный брак является в действительности общностью жен.
        Коммунистам можно было бы сделать упрек разве лишь в том, будто они
        хотят ввести вместо лицемерно-прикрытой общности жен официальную,
        открытую. Но ведь само собой разумеется, что с уничтожением нынешних
        производственных отношений исчезнет и вытекающая из них общность жен,
        т. е. официальная и неофициальная проституция. </p>

        <p>Далее, коммунистов упрекают, будто они хотят отменить отечество,
        национальность. </p>

        <p>Рабочие не имеют отечества. У них нельзя отнять то, чего у них нет.
        Так как пролетариат должен прежде всего завоевать политическое
        господство, подняться до положения национального класса<sup><a href="#11">11</a></sup>, конституироваться как нация, он сам пока еще
        национален, хотя совсем не в том смысле, как понимает это буржуазия. </p>

        <p>Национальная обособленность и противоположности народов все более и
        более исчезают уже с развитием буржуазии, со свободой торговли,
        всемирным рынком, с единообразием промышленного производства и
        соответствующих ему условий жизни. </p>

        <p>Господство пролетариата еще более ускорит их исчезновение.
        Соединение усилий, по крайней мере цивилизованных стран, есть одно из
        первых условий освобождения пролетариата. </p>

        <p>В той же мере, в какой будет уничтожена эксплуатация одного
        индивидуума другим, уничтожена будет и эксплуатация одной нации другой.
        </p>

        <p>Вместе с антагонизмом классов внутри наций падут и враждебные
        отношения наций между собой. </p>

        <p>Обвинения против коммунизма, выдвигаемые с религиозных, философских
        и вообще идеологических точек зрения, не заслуживают подробного
        рассмотрения. </p>

        <p>Нужно ли особое глубокомыслие, чтобы понять, что вместе с условиями
        жизни людей, с их общественными отношениями, с их общественным бытием
        изменяются также и их представления, взгляды и понятия, - одним словом,
        их сознание? </p>

        <p>Что же доказывает история идей, как не то, что духовное
        Производство преобразуется вместе с материальным? Господствующими
        идеями любого времени были всегда лишь идеи господствующего класса. </p>

        <p>Говорят об идеях, революционизирующих все общество; этим выражают
        лишь тот факт, что внутри старого общества образовались элементы
        нового, что рука об руку с разложением Старых условий жизни идет и
        разложение старых идей. </p>

        <p>Когда древний мир клонился к гибели, древние религии были побеждены
        христианской религией. Когда христианские идеи в XVIII веке гибли под
        ударом просветительных идей, феодальное общество вело свой смертный бой
        с революционной в то время буржуазией. Идеи свободы совести и религии
        выражали в области знания лишь господство свободной конкуренции. </p>

        <p>"Но", скажут нам, "религиозные, моральные, философские,
        политические, правовые идеи и т. д., конечно, изменялись в ходе
        исторического развития. Религия же, нравственность, философия,
        политика, право всегда сохранялись в этом беспрерывном изменении. </p>

        <p>К тому же существуют вечные истины, как свобода, справедливость и
        т. д., общие всем стадиям общественного развития. Коммунизм же отменяет
        вечные истины, он отменяет религию, нравственность, вместо того чтобы
        обновить их; следовательно, он противоречит всему предшествовавшему
        ходу исторического развития". </p>

        <p>К чему сводится это обвинение? История всех доныне существовавших
        обществ двигалась в классовых противоположностях, которые в разные
        эпохи складывались различно. </p>

        <p>Но какие бы формы они ни принимали, эксплуатация одной части
        общества другою является фактом, общим всем минувшим столетиям.
        Неудивительно поэтому, что общественное сознание всех веков, несмотря
        на все разнообразие и все различия, движется в определенных общих
        формах, в формах сознания, которые вполне исчезнут лишь с окончательным
        исчезновением противоположности классов. </p>

        <p>Коммунистическая революция есть самый решительный разрыв с
        унаследованными от прошлого отношениями собственности; неудивительно,
        что в ходе своего развития она самым решительным образом порывает с
        идеями, унаследованными от прошлого. </p>

        <p>Оставим, однако, возражения буржуазии против коммунизма. Мы видели
        уже выше, что первым шагом в рабочей революции является превращение
        пролетариата в господствующий класс, завоевание демократии. </p>

        <p>Пролетариат использует свое политическое господство для того, чтобы
        вырвать у буржуазии шаг за шагом весь капитал, централизовать все
        орудия производства в руках государства, т. в. пролетариата,
        организованного как господствующий класс, и возможно более быстро
        увеличить сумму производительных сил. </p>

        <p>Это может, конечно, произойти сначала лишь при помощи
        деспотического вмешательства в право собственности и в буржуазные
        производственные отношения, т. е. при помощи мероприятий, которые
        экономически кажутся недостаточными и несостоятельными, но которые в
        ходе движения перерастают самих себя<sup><a href="#12">12</a></sup> и
        неизбежны как средство для переворота во всем способе производства. </p>

        <p>Эти мероприятия будут, конечно, различны в различных странах. </p>

        <p>Однако в наиболее передовых странах могут быть почти повсеместно
        применены следующие меры:</p>

        1. Экспроприация земельной собственности и обращение земельной
        ренты на покрытие государственных расходов. <br>
        2. Высокий прогрессивный налог. <br>
        3. Отмена права наследования. <br>
        4. Конфискация имущества всех эмигрантов и мятежников. <br>
        5. Централизация кредита в руках государства посредством
        национального банка с государственным капиталом и с исключительной
        монополией. <br>
        6. Централизация всего транспорта в руках государства.<br>
        7. Увеличение числа государственных фабрик, орудий производства,
        расчистка под пашню и улучшение земель по общему плану.<br>
        8. Одинаковая обязательность труда для всех, учреждение
        промышленных армий, в особенности для земледелия. <br>
        9. Соединение земледелия с промышленностью, содействие постепенному
        устранению различия между городом и деревней<sup><a href="#13">13</a></sup>.
        <br>
        10. Общественное и бесплатное воспитание всех детей. Устранение
        фабричного труда детей в современной его форме. Соединение воспитания с
        материальным производством и т. д. <br>

        <p>Когда в ходе развития исчезнут классовые различия и все
        производство сосредоточится в руках ассоциации индивидов, тогда
        публичная власть потеряет свой политический характер. Политическая
        власть в собственном смысле слова - это организованное насилие одного
        класса для подавления другого. Если пролетариат в борьбе против
        буржуазии непременно объединяется в класс, если путем революции он
        превращает себя в господствующий класс и в качестве господствующего
        класса силой упраздняет старые производственные отношения, то вместе с
        этими производственными отношениями он уничтожает условия существования
        классовой противоположности, уничтожает классы вообще, а тем самым и
        свое собственное господство как класса. </p>

        <p>На место старого буржуазного общества с его классами и классовыми
        противоположностями приходит ассоциация, в которой свободное развитие
        каждого является условием свободного развития всех.</p>
        <br>
        <h2 id="ch3">III. СОЦИАЛИСТИЧЕСКАЯ И КОММУНИСТИЧЕСКАЯ ЛИТЕРАТУРА</h2>
        <h3 id="ch3-1">1. РЕАКЦИОННЫЙ СОЦИАЛИЗМ</h3>
        <h4 id="ch3-1a">а) ФЕОДАЛЬНЫЙ СОЦИАЛИЗМ</h4>
        <p>Французская и английская аристократия по своему историческому
        положению была призвана к тому, чтобы писать памфлеты против
        современного буржуазного общества. Во французской июльской революции
        1830 г. и в английском движений' в пользу парламентской реформы
        ненавистный выскочка еще. раз нанес ей поражение. О серьезной
        политической борьбе не могло быть большей речи. Ей оставалась только
        литературная борьба. Но и в области литературы старые фразы времен
        Реставрации<sup><a href="#14">14</a></sup> стали уже невозможны. Чтобы
        возбудить сочувствие, аристократия должна была сделать вид, что она уже
        не заботится о своих собственных интересах и составляет свой
        обвинительный акт против буржуазии только в интересах эксплуатируемого
        рабочего класса. Она доставляла себе удовлетворение тем, что сочиняла
        пасквили на своего нового властителя и шептала ему на ухо более или
        менее зловещие пророчества. </p>

        <p>Так возник феодальный социализм: наполовину похоронная песнь -
        наполовину пасквиль, наполовину отголосок прошлого - наполовину угроза
        будущего, подчас поражающий буржуазию в самое сердце своим горьким,
        остроумным, язвительным приговором, но всегда производящий комическое
        впечатление полной неспособностью понять ход современной истории. </p>

        <p>Аристократия размахивала нищенской сумой пролетариата как знаменем,
        чтобы повести за собою народ. Но всякий раз, когда он следовал за нею,
        он замечал на ее заду старые феодальные гербы и разбегался с громким и
        непочтительным хохотом. </p>

        <p>Разыгрыванием этой комедии занималась часть французских
        легитимистов и "Молодая Англия" </p>

        <p>Если феодалы доказывают, что их способ эксплуатации был иного рода,
        чем буржуазная эксплуатация, то они забывают только, что они
        эксплуатировали при совершенно других, теперь уже отживших,
        обстоятельствах и условиях. Если они указывают, что при их господстве
        не существовало современного пролетариата, то забывают, что как раз
        современная буржуазия была необходимым плодом их общественного строя. </p>

        <p>Впрочем, они столь мало скрывают реакционный характер своей
        критики, что их главное обвинение против буржуазии именно в том и
        состоит, что при ее господстве развивается класс, который взорвет на
        воздух весь старый общественный порядок. </p>

        <p>Они гораздо больше упрекают буржуазию в том, что она порождает
        революционный пролетариат, чем в том, что она порождает пролетариат
        вообще. </p>

        <p>Поэтому в политической практике они принимают участие во всех
        насильственных мероприятиях против рабочего класса, а в обыденной
        жизни, вопреки всей своей напыщенной фразеологии, не упускают случая
        подобрать золотые яблоки<sup><a href="#15">15</a></sup> и променять
        верность, любовь, честь на барыш от торговли овечьей шерстью,
        свекловицей и водкой<sup><a href="#16">16</a></sup>. </p>

        <p>Подобно тому как поп всегда шел рука об руку с феодалом, поповский
        социализм идет рука об руку с феодальным. </p>

        <p>Нет ничего легче, как придать христианскому аскетизму
        социалистический оттенок. Разве христианство не ратовало тоже против
        частной собственности, против брака, против государства? Разве оно не
        проповедовало вместо этого благотворительность и нищенство, безбрачие и
        умерщвление плоти, монастырскую жизнь и церковь? Христианский социализм
        - это лишь святая вода, которою поп кропит озлобление аристократа.</p>
        <br>
        <h4 id="ch3-1b">b) МЕЛКОБУРЖУАЗНЫЙ СОЦИАЛИЗМ</h4>

        <p>Феодальная аристократия - не единственный ниспровергнутый
        буржуазией класс, условия жизни которого в современном буржуазном
        обществе ухудшались и отмирали. Средневековое сословие горожан и
        сословие мелких крестьян были предшественниками современной буржуазии.
        В странах, менее развитых в промышленном и торговом отношении, класс
        этот до сих пор еще прозябает рядом с развивающейся буржуазией. </p>

        <p>В тех странах, где развилась современная цивилизация, образовалась
        - и как дополнительная часть буржуазного общества постоянно вновь
        образуется - новая мелкая буржуазия, которая колеблется между
        пролетариатом и буржуазией. Но конкуренция постоянно сталкивает
        принадлежащих к этому классу лиц в ряды пролетариата, и они начинают
        уже видеть приближение того момента, когда с развитием крупной
        промышленности они совершенно исчезнут как самостоятельная часть
        современного общества и в торговле, промышленности и земледелии будут
        замещены надзирателями и наемными служащими. </p>

        <p>В таких странах, как Франция, где крестьянство составляет гораздо
        более половины всего населения, естественно было появление писателей,
        которые, становясь на сторону пролетариата против буржуазии, в своей
        критике буржуазного строя прикладывали к нему мелкобуржуазную и
        мелкокрестьянскую мерку и защищали дело рабочих с мелкобуржуазной точки
        зрения. Так возник мелкобуржуазный социализм. Сисмонди стоит во главе
        этого рода литературы не только во Франции, но и в Англии. </p>

        <p>Этот социализм прекрасно умел подметить противоречия в современных
        производственных отношениях. Он разоблачил лицемерную апологетику
        экономистов. Он неопровержимо доказал разрушительное действие машинного
        производства и разделения труда, концентрацию капиталов и
        землевладения, перепроизводство, кризисы, неизбежную гибель мелких
        буржуа и крестьян, нищету пролетариата, анархию производства, вопиющее
        неравенство в распределении богатства, истребительную промышленную
        войну наций между собой, разложение старых нравов, старых семейных
        отношений и старых национальностей. </p>

        <p>Но по. своему положительному содержанию этот социализм стремится
        или восстановить старые средства производства и обмена, а вместе с ними
        старые отношения собственности и старое общество, или - вновь
        насильственно втиснуть современные средства производства и обмена в
        рамки старых отношений собственности, отношений, которые были уже ими
        взорваны и необходимо должны были быть взорваны. В обоих случаях он
        одновременно и реакционен и утопичен. </p>

        <p>Цеховая организация промышленности и патриархальное сельское
        хозяйство - вот его последнее слово. </p>

        <p>В дальнейшем своем развитии направление это вылилось в трусливое
        брюзжание<sup><a href="https://www.marxists.org/russkij/marx/1848/manifesto.htm#17">17</a></sup>.</p>
        <br>
        <h4 id="ch3-1c">c) НЕМЕЦКИЙ, ИЛИ "ИСТИННЫЙ", СОЦИАЛИЗМ</h4>

        <p>Социалистическая и коммунистическая литература Франции, возникшая
        под гнетом господствующей буржуазии и являющаяся литературным
        выражением борьбы против этого господства, была перенесена в Германию в
        такое время, когда буржуазия там только что начала свою борьбу против
        феодального абсолютизма. </p>

        <p>Немецкие философы, полуфилософы и любители красивой фразы жадно
        ухватились за эту литературу, позабыв только, что с перенесением этих
        сочинений из Франции в Германию туда не были одновременно перенесены и
        французские условия жизни. В немецких условиях французская литература
        утратила все непосредственное практическое значение и приняла вид чисто
        литературного течения. Она должна была приобрести характер досужего
        мудрствования об осуществлении человеческой сущности. Так, требования
        первой французской революции для немецких философов XVIII века имели
        смысл лишь как требования "практического разума" вообще, а проявления
        воли революционной французской буржуазии в их глазах имели значение
        законов чистой воли, воли, какой она должна быть, истинно человеческой
        воли. </p>

        <p>Вся работа немецких литераторов состояла исключительно в том, чтобы
        примирить новые французские идеи со своей старой философской совестью
        или, вернее, в том, чтобы усвоить французские идеи со своей философской
        точки зрения. </p>

        <p>Это усвоение произошло таким же образом, каким вообще усваивают
        чужой язык, путем перевода. </p>

        <p>Известно, что на манускриптах, содержавших классические
        произведения языческой древности, монахи поверх текста писали нелепые
        жизнеописания католических святых. Немецкие литераторы поступили с
        нечестивой французской литературой как раз наоборот. Под французский
        оригинал они вписали свою философскую чепуху. Например, под французскую
        критику денежных отношений они вписали "отчуждение человеческой
        сущности", под французскую критику буржуазного государства -
        "упразднение господства Абстрактно-Всеобщего" и т. д. </p>

        <p>Это подсовывание под французские теории своей философской
        фразеологии они окрестили "философией действия", "истинным
        социализмом", "немецкой наукой социализма", "философским обоснованием
        социализма" и т. д. </p>

        <p>Французская социалистическо-коммунистическая литература была таким
        образом совершенно выхолощена. И так как в руках немца она перестала
        выражать борьбу одного класса против другого, то немец был убежден, что
        он поднялся выше "французской односторонности", что он отстаивает,
        вместо истинных потребностей, потребность в истине, а вместо интересов
        пролетариата - интересы человеческой сущности, интересы человека
        вообще, человека, который не принадлежит ни к какому классу и вообще
        существует не в действительности, а в туманных небесах философской
        фантазии. ' Этот немецкий социализм, считавший свои беспомощные
        ученические упражнения столь серьезными и важными и так крикливо их
        рекламировавший, потерял мало-помалу свою педантическую невинность. </p>

        <p>Борьба немецкой, особенно прусской, буржуазии против феодалов и
        абсолютной монархии - одним словом либеральное движение - становилась
        все серьезнее. </p>

        <p>"Истинному" социализму представился, таким образом, желанный случай
        противопоставить политическому движению социалистические требования,
        предавать традиционной анафеме либерализм, представительное
        государство, буржуазную конкуренцию, буржуазную свободу печати,
        буржуазное право, буржуазную свободу и равенство и проповедовать
        народной массе, что в этом буржуазном движении она не может ничего
        выиграть, но, напротив, рискует все потерять. Немецкий социализм весьма
        кстати забывал, что французская критика, жалким отголоском которой он
        был, предполагала современное буржуазное общество с соответствующими
        ему материальными условиями жизни и соответственной политической
        конституцией, т. е. как раз все те предпосылки, о завоевании которых в
        Германии только еще шла речь. </p>

        <p>Немецким абсолютным правительствам, с их свитой попов, школьных
        наставников, заскорузлых юнкеров и бюрократов, он служил кстати
        подвернувшимся пугалом против угрожающе наступавшей буржуазии. </p>

        <p>Он был подслащенным дополнением к горечи плетей и ружейных пуль,
        которыми эти правительства усмиряли восстания немецких рабочих. </p>

        <p>Если "истинный" социализм становился таким образом оружием в руках
        правительств против немецкой буржуазии, то он и непосредственно служил
        выражением реакционных интересов, интересов немецкого мещанства. В
        Германии действительную общественную основу существующего порядка вещей
        составляет мелкая буржуазия, унаследованная от XVI века и с того
        времени постоянно вновь появляющаяся в той или иной форме. </p>

        <p>Сохранение ее равносильно сохранению существующего в Германии
        порядка вещей. От промышленного и политического господства буржуазии
        она со страхом ждет своей верной гибели, с одной стороны, вследствие
        концентрации капитала, с другой - вследствие роста революционного
        пролетариата. Ей казалось, что "истинный" социализм одним выстрелом
        убивает двух зайцев. II "истинный" социализм распространялся как
        зараза. </p>

        <p>Вытканный из умозрительной паутины, расшитый причудливыми цветами
        красноречия, пропитанный слезами слащавого умиления, этот мистический
        покров, которым немецкие социалисты прикрывали пару своих тощих "вечных
        истин", только увеличивал сбыт их товара среди этой публики. </p>

        <p>Со своей стороны, немецкий социализм все более понимал свое
        призвание быть высокопарным представителем этого мещанства. </p>

        <p>Он провозгласил немецкую нацию образцовой нацией, а немецкого
        мещанина - образцом человека. Каждой его низости он придавал
        сокровенный, возвышенный социалистический смысл, превращавший ее в
        нечто ей совершенно противоположное. Последовательный до конца, он
        открыто выступал против "грубо-разрушительного" направления коммунизма
        и возвестил, что сам он в своем величественном беспристрастии стоит
        выше всякой классовой борьбы. За весьма немногими исключениями все, что
        циркулирует в Германии в качестве якобы социалистических и
        коммунистических сочинений, принадлежит к этой грязной, расслабляющей
        литературе<sup><a href="#18">18</a></sup>.</p>
        <br>
        <h3 id="ch3-2">2. КОНСЕРВАТИВНЫЙ, ИЛИ БУРЖУАЗНЫЙ, СОЦИАЛИЗМ</h3>

        <p>Известная часть буржуазии желает излечить общественные недуги для
        того, чтобы упрочить существование буржуазного общества. </p>

        <p>Сюда относятся экономисты, филантропы, поборники гуманности,
        радетели о благе трудящихся классов, организаторы благотворительности,
        члены обществ покровительства животным, основатели обществ трезвости,
        мелкотравчатые реформаторы самых разнообразных видов. Этот буржуазный
        социализм разрабатывался даже в целые системы. </p>

        <p>В качестве примера приведем "Философию нищеты" Прудона, </p>

        <p>Буржуа-социалисты хотят сохранить условия существования
        современного общества, но без борьбы и опасностей, которые неизбежно из
        них вытекают. Они хотят сохранить современное общество, однако, без тех
        элементов, которые его революционизируют и разлагают. Они хотели бы
        иметь буржуазию без пролетариата. Тот мир, в котором господствует
        буржуазия, конечно, кажется ей самым лучшим из миров. Буржуазный
        социализм разрабатывает это утешительное представление в брлее или
        менее цельную систему. Приглашая пролетариат осуществить его систему и
        войти в новый Иерусалим, он в сущности требует только, чтобы
        пролетариат оставался в теперешнем обществе, но отбросил свое
        представление о нем, как о чем-то ненавистном. </p>

        <p>Другая, менее систематическая, но более практическая форма этого
        социализма стремилась к тому, чтобы внушить рабочему классу
        отрицательное отношение ко всякому революционному движению, доказывая,
        что ему может быть полезно не то или другое политическое
        преобразование, а лишь изменение материальных условий жизни,
        экономических отношений. Однако под изменением материальных условий
        жизни этот социализм понимает отнюдь не уничтожение буржуазных
        производственных отношений, осуществимое только революционным путем, а
        административные улучшения, осуществляемые на почве этих
        производственных отношений, следовательно, ничего не изменяющие в
        отношениях между капиталом и наемным трудом, в лучшем же случае - лишь
        сокращающие для буржуазии издержки ее господства и упрощающие ее
        государственное хозяйство. </p>

        <p>Самое подходящее для себя выражение буржуазный социализм находит
        только тогда, когда превращается в простой ораторский оборот речи. </p>

        <p>Свободная торговля! в интересах рабочего класса;
        покровительственные пошлины! в интересах рабочего класса; одиночные
        тюрьмы! в интересах рабочего класса - вот последнее, единственно
        сказанное всерьез, слово буржуазного социализма. </p>

        <p>Социализм буржуазии заключается как раз в утверждении, что буржуа
        являются буржуа, - в интересах рабочего класса.</p>
        <br>

        <h3 id="ch3-3">3. КРИТИЧЕСКИ-УТОПИЧЕСКИЙ СОЦИАЛИЗМ И КОММУНИЗМ.</h3>

        <p>Мы не говорим здесь о той литературе, которая во всех великих
        революциях нового времени выражала требования пролетариата (сочинения
        Бабёфа и т. д.). </p>

        <p>Первые попытки пролетариата непосредственно осуществить свои
        собственные классовые интересы во время всеобщего возбуждения, в период
        ниспровержения феодального общества, неизбежно терпели крушение
        вследствие неразвитости самого пролетариата, а также вследствие
        отсутствия материальных условий его освобождения, так как эти условия
        являются лишь продуктом буржуазной эпохи. Революционная литература,
        сопровождавшая эти первые движения пролетариата, по своему содержанию
        неизбежно является реакционной. Она проповедует всеобщий аскетизм и
        грубую уравнительность. </p>

        <p>Собственно социалистические и коммунистические системы, системы
        Сен-Симона, Фурье, Оуэна и т. д., возникают в первый, неразвитый период
        борьбы между пролетариатом и буржуазией, изображенный нами выше (см.
        "Буржуазия и пролетариат"). </p>

        <p>Изобретатели этих систем, правда, видят противоположность классов,
        так же как и действие разрушительных элементов внутри самого
        господствующего общества. Но они не видят на стороне пролетариата
        никакой исторической самодеятельности, никакого свойственного ему
        политического движения. </p>

        <p>Так как развитие классового антагонизма идет рука об руку с
        развитием промышленности, то они точно так же не могут еще найти
        материальных условий освобождения пролетариата и ищут такой социальной
        науки, таких социальных законов, которые создали бы эти условия. </p>

        <p>Место общественной деятельности должна занять их личная
        изобретательская деятельность, место исторических условий освобождения
        - фантастические условия, место постепенно подвигающейся вперед
        организации пролетариата в класс - организация общества по придуманному
        ими рецепту. Дальнейшая история всего мира сводится для них к
        пропаганде и практическому осуществлению их общественных планов. </p>

        <p>Правда, они сознают, что в этих своих планах защищают главным
        образом интересы рабочего класса как наиболее страдающего класса.
        Только в качестве этого наиболее страдающего класса и существует для
        них пролетариат. </p>

        <p>Однако неразвитая форма классовой борьбы, а также их собственное
        положение в жизни приводят к тому, что они считают себя стоящими высоко
        над этим классовым антагонизмом, </p>

        <p>Они хотят улучшить положение всех членов общества, даже находящихся
        в самых лучших условиях. Поэтому они постоянно апеллируют ко всему
        обществу без различия и даже преимущественно - к господствующему
        классу. По их мнению, достаточно только понять их систему, чтобы
        признать ее самым лучшим планом самого лучшего из возможных обществ. </p>

        <p>Они отвергают поэтому всякое политическое,- в особенности всякое
        революционное, действие; они хотят достигнуть своей цели мирным путем и
        пытаются посредством мелких- , конечно, не удающихся опытов, силой
        примера проложить дорогу новому общественному евангелию. </p>

        <p>Это фантастическое описание будущего общества возникает в то время,
        когда пролетариат еще находится в очень неразвитом состоянии и
        представляет себе поэтому свое собственное положение еще фантастически,
        оно возникает из первого исполненного предчувствий порыва пролетариата
        к всеобщему преобразованию общества. </p>

        <p>Но в этих социалистических и коммунистических сочинениях содержатся
        также и критические элементы. Эти сочинения нападают на все основы
        существующего общества. Поэтому они дали в высшей степени ценный
        материал для просвещения рабочих. Их положительные выводы насчет
        будущего общества, например, уничтожение противоположности между
        городом и деревней<sup><a href="#19">19</a></sup>, уничтожение семьи,
        частной наживы, наемного труда, провозглашение общественной гармонии,
        превращение государства в простое управление производством, - все эти
        положения выражают лишь необходимость устранения классовой
        противоположности, которая только что начинала развиваться и была
        известна им лишь в ее первичной бесформенной неопределенности. Поэтому
        и положения эти имеют еще совершенно утопический характер. </p>

        <p>Значение критически-утопического социализма и коммунизма стоит в
        обратном отношении к историческому развитию. По мере того как
        развивается и принимает все более определенные формы борьба классов,
        это фантастическое стремление возвыситься над ней, это преодоление ее
        фантастическим путем лишается всякого практического смысла и всякого
        теоретического оправдания. Поэтому, если основатели этих систем п были
        во многих отношениях революционны, то их ученики всегда образуют
        реакционные секты. Они крепко держатся старых воззрений своих учителей,
        невзирая на дальнейшее историческое развитие пролетариата. Поэтому они
        последовательно стараются вновь притупить классовую борьбу и примирить
        противоположности. Они все еще мечтают об осуществлении, путем опытов,
        своих общественных утопий, об учреждении отдельных фаланстеров, об
        основании внутренних колоний ["Home-colonies"], об устройстве маленькой
        Икарии<sup><a href="#20">20</a></sup> - карманного издания нового
        Иерусалима, - и для сооружения всех этих воздушных замков вынуждены
        обращаться к филантропии буржуазных сердец и кошельков. Они постепенно
        опускаются в категорию описанных выше реакционных или консервативных
        социалистов, отличаясь от них лишь более систематическим педантизмом и
        фанатической верой в чудодейственную силу своей социальной пауки. </p>

        <p>Вот почему они с ожесточением выступают против всякого
        политического движения рабочих, вызываемого, по их мнению, лишь слепым
        неверием в новое евангелие. </p>

        <p>Оуэнисты в Англии и фурьеристы во Франции выступают - первые против
        чартистов, вторые против реформистов.</p>
        <br>
        <h2 id="ch4">IV. ОТНОШЕНИЕ КОММУНИСТОВ К РАЗЛИЧНЫМ ОППОЗИЦИОННЫМ ПАРТИЯМ</h2>

        <p>После того, что было сказано в <a href="#ch2">разделе II</a>,
        понятно отношение коммунистов к сложившимся уже рабочим партиям, т. е.
        их отношение к чартистам в Англии и к сторонникам аграрной реформы в
        Северной Америке. </p>

        <p>Коммунисты борются во имя ближайших целей и интересов рабочего
        класса, но в то же время в движении сегодняшнего дня они отстаивают и
        будущность движения. Во Франции, в борьбе против консервативной и
        радикальной буржуазии, коммунисты примыкают к
        социалистическо-демократической партии<sup><a href="#21">21</a></sup>,
        не отказываясь тем не менее от права относиться критически к фразам и
        иллюзиям, проистекающим из революционной традиции. </p>

        <p>В Швейцарии они поддерживают радикалов, не упуская, однако, из
        виду, что эта партия состоит из противоречивых элементов, частью из
        демократических социалистов во французском стиле, частью из радикальных
        буржуа. </p>

        <p>Среди поляков коммунисты поддерживают партию, которая ставит
        аграрную революцию условием национального освобождения, ту самую
        партию, которая вызвала краковское восстание 1846 года. </p>

        <p>В Германии, поскольку буржуазия выступает революционно,
        коммунистическая партия борется вместе с ней против абсолютной
        монархии, феодальной земельной собственности и реакционного мещанства, </p>

        <p>Но ни на минуту не перестает она вырабатывать у рабочих возможно
        более ясное сознание враждебной противоположности между буржуазией и
        пролетариатом, чтобы немецкие рабочие могли сейчас же использовать
        общественные и политические условия, которые должно принести с собой
        господство буржуазии, как оружие против нее же самой, чтобы, сейчас же
        после свержения реакционных классов в Германии, началась борьба против
        самой буржуазии. </p>

        <p>На Германию коммунисты обращают главное свое внимание потому, что
        она находится накануне буржуазной революции, потому, что она совершит
        этот переворот при более прогрессивных условиях европейской цивилизации
        вообще, с гораздо более развитым пролетариатом, чем в Англии XVII и во
        Франции XVIII столетия. Немецкая буржуазная революция, следовательно,
        может быть лишь непосредственным прологом пролетарской революции. </p>

        <p>Одним словом, коммунисты повсюду поддерживают всякое революционное
        движение, направленное против существующего общественного и
        политического строя. </p>

        <p>Во всех этих движениях они выдвигают на первое место вопрос о
        собственности, как основной вопрос движения, независимо от того, принял
        ли он более или менее развитую форму. </p>

        <p>Наконец, коммунисты повсюду добиваются объединения и соглашения
        между демократическими партиями всех стран. </p>

        <p>Коммунисты считают презренным делом скрывать свои взгляды и
        намерения. Они открыто заявляют, что их цели могут быть достигнуты лишь
        путем насильственного ниспровержения всего существующего общественного
        строя. Пусть господствующие классы содрогаются перед Коммунистической
        Революцией. Пролетариям нечего в ней терять кроме своих цепей.
        Приобретут же они весь мир.</p>
        <br>
        <h2>ПРОЛЕТАРИИ ВСЕХ СТРАН, СОЕДИНЯЙТЕСЬ!</h2>
        <hr>
        <p><a name="1"></a><sup>1</sup> Под буржуазией понимается класс
        современных капиталистов, собственников средств общественного
        производства, применяющих наемный труд. Под пролетариатом понимается
        класс современных наемных рабочих, которые, будучи лишены своих
        собственных средств производства, вынуждены, для того чтобы жить,
        продавать свою рабочую силу. <i>(Примечание Энгельса к английскому
        изданию 1888 г.)</i> </p>

        <p><a name="2"></a><sup>2</sup> То есть вся история, дошедшая до нас в
        письменных источниках. В 1847 г. предистория общества, общественная
        организация, предшествовавшая всей писаной истории, почти совсем еще не
        была известна. За истекшее с тех пор время Гакстгаузен открыл общинную
        собственность на землю в России, Маурер доказал, что она была
        общественной основой, послужившей исходным пунктом исторического
        развития всех германских племен, и постепенно выяснилось, что сельская
        община о общим владением землей является или являлась в прошлом повсюду
        первобытной формой общества, от Индии до Ирландии. Внутренняя
        организация этого первобытного коммунистического общества, в ее
        типической форме, была выяснена Морганом, увенчавшим дело своим
        открытием истинной сущности рода и его положения в племени. С
        разложением этой первобытной общины начинается расслоение общества на
        особые и в конце концов антагонистические классы. Я попытался
        проследить этот процесс разложения в работе "Der Urspriing der Famille,
        des Privateigentums and des Staats", 2. Aufl., Stuttgart, 1886
        ["Происхождение семьи, частной собственности и государства", 2-е изд.,
        Штутгарт, 1886]. <i>(Примечание Энгельса к английскому .изданию1888 г.)</i>
        </p>

        <p><a name="3"></a><sup>3</sup> Цеховой мастер - это полноправный член
        цеха, мастер внутри цеха, а не старшина его. <i>(Примечание Энгельса к
        английскому изданию 1888 г.)</i> </p>

        <p><a name="4"></a><sup>4</sup> "Коммунами" назывались во Франции
        нарождавшиеся города дате до того времени, когда они отвоевали у своих
        феодальных владык и господ местное самоуправление и политические права
        "третьего сословия". Вообще говоря, здесь в качестве типичной страны
        экономического развития буржуазии взята Англия, в качестве типичной
        страны ее политического развития - Франция. <i>(Примечание Энгельса к
        английскому изданию 1888 г.)</i> </p>

        <p><i>Коммуна </i>- так называли горожане Италии и Франции свою
        городскую общину, после того как они откупили или отвоевали у своих
        феодальных господ первые права самоуправления. <i>(Примечание Энгельса
        к немецкому изданию 1888 г.)</i> </p>

        <p><a name="5"></a><sup>5</sup> В английском издании 1888 г.,
        редактированном Энгельсом, после слов "независимая городская
        республика" вставлены слова; "(как в Италии и Германии)", а после слов
        "третье, податное сословие мовархии" - "(как во Франции)". <i>Ред.</i>
        </p>

        <p><a name="6"></a><sup>6</sup> В английском издании 1888 г. после
        слова "коалиции" вставлено: "(профессиональные союзы)". <i>Ред.</i> </p>

        <p><a name="7"></a><sup>7</sup> В английском издании 1888 г. вместо
        слов "элементы своего собственного образования" напечатано: "элементы
        своего собственного политического и общего образования". <i>Ред.</i> </p>

        <p><a name="8"></a><sup>8</sup> В английском издании 1888 г. вместо
        "особых" оказано "сектантских".<i> Ред.</i> </p>

        <p><a name="9"></a><sup>9</sup> В английском издании 1888 г. вместо
        слов "всегда побуждающей к движению вперед" напечатано: "самой
        передовой". <i>Ред.</i> </p>

        <p><a name="10"></a><sup>10</sup> В английском издании 1888 г. вместо
        слое "эксплуатации одних другими" напечатано: "эксплуатации большинства
        меньшинством". <i>Ред.</i> </p>

        <p><a name="11"></a><sup>11</sup> В английском издании 1888 г. вместо
        слов "подняться до положения национального класса" напечатано:
        "подняться до подозрения ведущего класса нации". <i>Ред.</i> </p>

        <p><a name="12"></a><sup>12</sup> В английском издании 1888 г. после
        слов "перерастают самих себя" добавлено: "делают необходимыми
        дальнейшие атаки на старый общественный строй". <i>Ред.</i> </p>

        <p><a name="13"></a><sup>13</sup> В издании 1848 г. -
        "противоположности между городом и деревней". В издании 1872 г. и в
        последующих немецких изданиях слово "противоположности" было заменено
        словом "различия". В английском издании 1888 г. вместо слов "содействие
        постепенному устранению различия между городом и деревней" напечатано:
        "постепенное устранение различия между городом и деревней путем более
        равномерного распределения населения по всей стране". <i>Ред.</i> </p>

        <p><a name="14"></a><sup>14</sup> Имеется в виду не английская
        Реставрация 1660-1689 гг., а французская Реставрация 1814-1830 годов. <i>(Примечание
        Энгельса к английскому изданию 1888 г.)</i> </p>

        <p><a name="15"></a><sup>15</sup> В английском издании 1888 г. после
        слов "золотые яблони" вставлено; "падающие с древа промышленности".<i>
        Ред.</i> </p>

        <p><a name="16"></a><sup>16</sup> Это относится главным образом к
        Германии, где земельная аристократия и юнкерство ведут хозяйство на
        большей части своих земель за собственный счет через управляющих и
        вдобавок являются крупными владельцами свеклосахарных и винокуренных
        заводов. Более богатые английские аристократы до этого еще не дошли; но
        они тоже знают, как можно возмещать падение ренты, предоставляя свое
        имя учредителям более или менее сомнительных акционерных компаний. <i>(Примечание
        Энгельса к английскому изданию 1888 г.)</i> </p>

        <p><a name="17"></a><sup>17</sup> В английском издании 1888 г. вместо
        слов; "В дальнейшем своем развитии направление это вылилось в трусливое
        брюзжание", напечатано: "В конце концов, когда неопровержимые
        исторические факты заставили исчезнуть всякие следы упоительного
        действия иллюзий, эта форма социализма вылилась в жалкое брюзжание". <i>Ред.</i>
        </p>
        <dd><a name="18"></a><sup>18</sup> Революционная буря 1848 г. унесла
        все это гнусное направление и отбила охоту у его носителей
        спекулировать социализмом. Главным представителем и классическим типом
        этого направления являются г-н Карл Грюн. <i>(Примечание Энгельса к
        немецкому изданию 1888 г.)</i> </dd>
        <dd><a name="19"></a><sup>19</sup> В английском издании 1888 г. это
        место сформулировано так: "Предлагаемые ими практические мероприятия,
        например, уничтожение различия между городом и деревней". <i>Ред.</i> </dd>
        <dd><a name="20"></a><sup>20</sup> Фаланстерами назывались
        социалистические колонии, которые проектировал Фурье; Икарией Кабе
        называл свою утопическую страну, а позднее свою коммунистическую
        колонию в Америке. <i>(Примечание Энгельса к английскому изданию1888
        г.)</i> </dd>
        <dd>Home-colonies (колониями внутри страны) Оуэн называл свои
        образцовые коммунистические общества. Фаланстерами назывались
        общественные дворцы, которые проектировал Фурье. Икарией называлась
        утопически-фантастическая страна, коммунистические учреждения которой
        описывал Кабе. <i>(Примечание Энгельса к немецкому изданию 1890 г.)</i>
        </dd>
        <dd><a name="21"></a><sup>21</sup> Эта партия была тогда представлена в
        парламенте Ледрю-Ролленом, в литературе Луи Бланом, в ежедневной печати
        - газетой "Reforme". Придуманным ими названием -
        социалистическо-демократическая они обозначали ту часть демократической
        или республиканской партии, которая была более или менее окрашена в
        социалистический цвет. <i>(Примечание Энгельса к английскому изданию
        1888 г.)</i> </dd>
        <dd>Называвшая себя социалистическо-демократической партия во Франции
        была представлена в политической жизни Ледрю-Ролленом, в литературе Луи
        Бланом; таким образом, она, как небо от земли, отличалась от
        современной немецкой социал-демократии. <i>(Примечание Энгельса к
        немецкому изданию 1890 г.)</i>
        </dd>
    </div>
</template>

<script>
export default {
  name: 'Manifest'
}
</script>

<style scoped>

</style>
