<template>
  <div>
    <h1>План развития фронтэнд разработчика</h1>
    <p>Для начала совместной работы над проектом вам потребуется:</p>
    - скачать и установить себе редактор кода <a href="https://code.visualstudio.com/" target="_blank">VS Code</a><br>
    - зарегистрироваться на сайте <a href="https://gitlab.com/">gitlab.com</a><br>
    - используя Git сделать у себя клон или форк <a href="https://gitlab.com/tmnv/chat" target="_blank">проекта</a> c GitLab<br>
    - установить себе <a href="https://telegram.org/">Telegram</a> (в нём мы общаемся)<br>
    - установить себе <a href="https://discord.com/">Discord</a> (в нём ведутся занятия).<br>
    <br>
    <h2>Какие компоненты и для чего нужны</h2>
    <p><b>babel</b> - компилятор JS, который позволяет использовать новый синтаксис JS, который babel пребразует
      в старый, для нормальной работы в старых браузерах.</p>
    <p><b>webpack</b> - сборщик модулей. Он анализирует модули приложения, создает граф зависимостей, затем собирает модули в правильном порядке в один или более бандл (bundle), на который может ссылаться файл «index.html»</p>
    <p><b>vue</b> - JavaScript фреймворк для создания пользовательских интерфейсов.</p>
    <p><b>nuxt</b> - минималистичный фреймворк для создания приложений на Vue.js с серверным рендерингом, разделением кода, горячей заменой модулей и статической генерацией.</p>
    <p><b>quasar</b> - универсальный Vue-фреймворк</p>
    <p><b>scss</b> - прероцессор для CSS.</p>
    <h2>Схема развития</h2>
    <main><img src="/img/frontend-map.png" alt="" style="margin-left: auto; margin-right: auto;"></main>
  </div>
</template>

<script>
export default {
  name: 'Plan'
}
</script>

<style scoped>

</style>
