<template>
  <div>
    <h1>Психология</h1>
    <main><img src="/img/pyramid.jpg" alt="" style="margin-left: auto; margin-right: auto;"></main>
  </div>
</template>

<script>
export default {
  name: 'Soul'
}
</script>

<style scoped>

</style>
