* {
  box-sizing: border-box;
}


:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
}
.turn{
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);

}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: black;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.board .cell.x,
.board .cell.o{
  cursor: not-allowed;
}





.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  position: absolute;
  content: '';
  width: calc(var(--mark-size)*.15);
  height:var(--mark-size);
  background-color: #fff;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before{
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after{
  transform: rotate(-45deg);
}




.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  position: absolute;
  content: '';
  width: var(--mark-size);
  height:var(--mark-size);
  background-color: #fff;
  border-radius: 50%;
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after{
  width: calc(var(--mark-size)*.7);
  height: calc(var(--mark-size)*.7);
  background-color: #000;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
 background-color: grey;
} 

.winning-message{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 3rem;
}

.winning-message.show{
  display: flex;
}