.container {
    height: 600px;
    width: 600px;
    margin: 30px auto;
}

.square {
    height: 70px;
    width: 70px;
    float: left;
}

.blue {
    background-color: cornflowerblue;
}

.white {
    background-color: whitesmoke;
}
