<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Приложение для курсов</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
            <li class="active"><a href="/">Главная страница</a></li>
            {{else}}
            <li><a href="/">Главная страница</a></li>
            {{/if}}

            {{#if isCourses}}
                <li class="active"><a href="/courses">Курсы</a></li>
            {{else}}
                <li><a href="/courses">Курсы</a></li>
            {{/if}}

            {{#if isAdd}}
                <li class="active"><a href="/add">Добавить курс</a></li>
            {{else}}
                <li><a href="/add">Добавить курс</a></li>
            {{/if}}

            {{#if isCart}}
                <li class="active"><a href="/cart">Корзина</a></li>
            {{else}}
                <li><a href="/cart">Корзина</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
