<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
        <link rel="stylesheet" href="main.css"
    </head>
    <body>
        <div id="shopping-list">
            <h1>{{ header ? header : 'welcome'}}</h1>
            <input type="text" v-model="header">
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script>
            var shoppingList = new Vue({
                el:'#shopping-list',
                data: {
                    header:'shopping list app'
                }
            });
        </script>
    </body>
</html>