body {
    background-image: url("../img/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    }
    
    a{
        color: #fff;
    }
    
    a:hover{
        text-decoration: none;
    }
    
    .container{
        width: 450px;
        
        background-color: rgba(148, 26, 26,0.8);
        margin: 250px auto 0 auto; 
        text-align: center;
        box-shadow: 0 -5px 0 #fd3a3a;
        border-radius: 12px;
        padding-bottom: 20px;
    }
    
    .container img {
        width: 120px;
        height: 120px;
        margin: -60px 0 30px 0;
        border: 5px solid #941a1a;
        border-radius: 50%; 
        box-shadow: 0 -5px 0 #fd3a3a;
    }

    input[type="text"], input[type="password"] {
        width: 300px;
        height: 50px;
        font-size: 18px;
        margin-bottom: 25px;
        border-radius: 4px;
        padding-left: 40px;
    }

    .dws-submit{
        padding: 13px 30px;
        margin: 5px 0 20px 0;
        font-size: 15px;
        color: #fff;
        background-color: rgb(223, 8, 8);
        border: none;
        border-bottom: 4px solid #6ee9f;
        cursor: pointer
    }
    .dws-submit:hover{
        transition: all 0.5s;
        background: rgb(248, 59, 59);
        color: #ffef10;
    }
    .dws-input::before{
        font-family: "fontAwesome"; 
        content: "\f007";
        position: absolute;
        font-size: 30px;
        padding: 10px 0 0 7px;
        color: rgb(24, 2, 2);
    }
    .dws-input:nth-child(2)::before{
        content: "\f023";
    }
    .dws-input:hover::before{
        color: rgb(255, 0, 0);
        transition: all 0.3s;
    }
    .dws-input input:hover{
        box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35)
    }
    .social i{
        color: #fff;
        font-size: 20px;
        width: 20px;
        padding: 10px;
    }
    .social i:hover{
        background-color: snow;
        color: #941a1a;
        border-radius: 5px;
        cursor: pointer;
    }
    