<h1>Редактировать {{course.title}}</h1>
<form action="/courses/edit" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название курса"></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}">
        <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Укажите цену"></span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите URL картинки"></span>
    </div>
    <input type="hidden" name="id" value="{{course.id}}">

    <button class="btn btn-primary">Сохранить изменения</button>
</form>
