<!-- Скрипты будем подключать внизу страницы чтобы при начале работы скриптов нам уже было доступно
всё дерево тегов -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>
