<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="shopping-list">
    <input type="text" v-model="newItem" placeholder="Добавьте товар">
    <!-- Можно использовать сокращённые выражения JS -->
    <h1>{{ (header ? header : 'welcome').toLocaleUpperCase() }}</h1>
    <ul>
        <li v-for="item in items">{{ item.name }}: {{ item.count }}</li>
    </ul>
    <table>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
        </tr>
        <tr v-for="item in items">
            <td>{{ item.name }}</td>
            <td>{{ item.count }}</td>
        </tr>
    </table>
</div>
<script>
var myItems = [
    {count: 10, name: 'граната'},
    {count: 1, name: 'автомат'},
    {count: 200, name: 'патрон'}
]

var shoppingList = new Vue({
    el: '#shopping-list',
    data: {
        header: 'Приложение список покупок',
        newItem: '',
        items: myItems
    }
})
</script>
</body>
</html>
