@media (max-width: 900px) {
    img#lenin {
        display: none;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: #0000aa;
    color: white;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: #0000ff;
}

body > header {
    padding: 20px;
    background-color: #cd0000;
}

body > header a {
    color: #ffd700;
    margin-right: 20px;
}

.messageList {
    border: none;
    /*border: 1px solid #cccccc;*/
}

.message {
    border: none;
    border-radius: 15px 15px 0 15px;
    box-shadow: 0 0 7px 1px #d9d9d9;
    width: 255px;
    padding: 10px;
    margin: 10px;
    float: right;
}

.message__date {
    font-size: 0.7em;
    color: #2222ff;
}

.message__name {
    font-size: 1.2em;
    color: #ff5757;
}

.message__text {
    font-size: 1em;
    color: black;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 5px;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}
