<template>
  <q-layout view='lHh Lpr lFf'>
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon='menu'
          aria-label='Menu'
          @click='leftDrawerOpen = !leftDrawerOpen'
        />

        <q-toolbar-title> Quasar App </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model='leftDrawerOpen'
      show-if-above
      bordered
      content-class="bg-grey-1"
      :width="250" :breakpoint="600"
    >
      <q-list padding>
        <q-item-label
          header
          class="text-grey-8"
        >
          Навигация
        </q-item-label>
        <EssentialLink
          v-for='link in essentialLinks'
          :key='link.title'
          v-bind='link'
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'План развития',
    caption: 'Путь программиста',
    icon: 'school',
    link: '/'
  },
  {
    title: 'Психология',
    caption: 'Раздел Сани Сидорова',
    icon: 'code',
    link: '/soul'
  },
  {
    title: 'Участники',
    caption: 'Список участников',
    icon: 'list',
    link: '/list'
  },
  {
    title: 'Манифест',
    caption: 'Манифест Коммунистической Партии',
    icon: 'star',
    link: '/manifest'
  }
]

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>
